public/data.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        -200
      ],
      "id": "176e2f21-6c2f-412c-b7e3-038f833c9e73",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://disposable-email-validator-pro.p.rapidapi.com/validate/?email={{ $json.encodedEmail }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "disposable-email-validator-pro.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        -1460
      ],
      "id": "b262eaf2-df6a-4946-95da-5a2a0f0483ae",
      "name": "Email Validator Pro Company"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24e3cf28-feca-43e5-ab25-be8585daf1d6",
              "name": "x-rapidapi-key",
              "value": "0563c46af8mshb3b05db0ad5f5ecp10cb58jsnada44f0982a1",
              "type": "string"
            },
            {
              "id": "e16409e9-b783-42c3-a2ab-ff5a09da9211",
              "name": "email_company",
              "value": "rl@triangulargroup.com",
              "type": "string"
            },
            {
              "id": "8486b437-3288-497b-b4c8-a81eed038158",
              "name": "Person",
              "value": "Roderick Looijs",
              "type": "string"
            },
            {
              "id": "e2e77053-6689-49fe-b962-63e6bdf1e2e5",
              "name": "Company",
              "value": "Triangular Group",
              "type": "string"
            },
            {
              "id": "1c3354e5-f363-4b2e-9cbd-3ffd4322c1f3",
              "name": "Twitter",
              "value": "Roderick_Looijs",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -580,
        -200
      ],
      "id": "663b40bb-9029-490e-b344-05effae74144",
      "name": "Login"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    encodedEmail: encodeURIComponent($json.email_company),\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -1160
      ],
      "id": "f8543c74-bf1e-4355-883c-d1c4bbed7333",
      "name": "encodeURI_ email_company"
    },
    {
      "parameters": {
        "url": "=https://email-social-scraper-turbo.p.rapidapi.com/SocialMail?domain={{ $json.domain }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "email-social-scraper-turbo.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        -540
      ],
      "id": "2bc02fca-b5ed-465d-a16e-c3f969b3a0bd",
      "name": "Email Social Scraper Turbo (Company)",
      "notes": "https://rapidapi.com/companies-databases-companies-databases-default/api/email-social-scraper-turbo/playground/apiendpoint_189f0932-7462-41aa-a735-78ca81f7de4a\n"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    domain: $json.email_company.split('@')[1],\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        -320
      ],
      "id": "e6688bbd-4249-40fe-a821-56a8c9047e7f",
      "name": "Getting a company domain name"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://whois-api6.p.rapidapi.com/dns/api/v1/getRecords",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "whois-api6.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"query\":\"{{ $json.domain }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        -320
      ],
      "id": "a2340887-5bdd-4670-8433-7584e013ae34",
      "name": "Whois API",
      "notes": "https://rapidapi.com/HemKrishLabs/api/whois-api6/playground/apiendpoint_0fba31f0-d40e-4571-9fef-9d0c81f7e4"
    },
    {
      "parameters": {
        "domain": "={{ $('Getting a company domain name').item.json.domain }}",
        "filters": {}
      },
      "type": "n8n-nodes-base.hunter",
      "typeVersion": 1,
      "position": [
        1420,
        340
      ],
      "id": "31db5b89-cc46-42c2-bad5-8b2db7d7024b",
      "name": "Hunter",
      "credentials": {
        "hunterApi": {
          "id": "VZPhdsJhQONVKmYD",
          "name": "Hunter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82de8140-107b-4074-bf35-4f714f6ce685",
              "name": "Person",
              "value": "={{ $('Login').item.json.Person }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        340
      ],
      "id": "81b7df07-25a1-4071-a753-5a0f5fe3e052",
      "name": "Person"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fullName = $json.Person || '';\nconst parts = fullName.trim().split(' ');\n\nreturn {\n  json: {\n    firstName: parts[0] || '',\n    lastName: parts.slice(1).join(' ') || '',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        340
      ],
      "id": "1b4a79b7-989e-479f-9695-e067298631d7",
      "name": "firstName_lastName"
    },
    {
      "parameters": {
        "url": "=https://b2b-company-data-enrichment1.p.rapidapi.com/companies/enrich?domain={{ $json.domain }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "b2b-company-data-enrichment1.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        -120
      ],
      "id": "8a082c10-b772-4345-8b94-86635c04da4e",
      "name": "B2B Company Data Enrichment",
      "notes": "https://rapidapi.com/stdio-ltd-stdio-ltd-default/api/b2b-company-data-enrichment1/playground/apiendpoint_3e94594d-1169-4e0b-add3-396ec8bb7786\n"
    },
    {
      "parameters": {
        "url": "=https://website-contacts-scraper.p.rapidapi.com/scrape-contacts?query={{ $json.domain }}&match_email_domain=false&external_matching=false",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "website-contacts-scraper.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        100
      ],
      "id": "ff6bf6fe-e3e1-4480-bdc3-b69249c73b96",
      "name": "Website Contacts Scraper",
      "notes": "https://rapidapi.com/letscrape-6bRBa3QguO5/api/website-contacts-scraper/playground/apiendpoint_ee6b910e-3333-4dea-b4a2-0b21fe48427c"
    },
    {
      "parameters": {
        "url": "=https://email-verifier15.p.rapidapi.com/verify-email?email={{ $json.encodedEmail }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "email-verifier15.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        -1120
      ],
      "id": "751ebbe4-c487-4e7e-8707-710421b91d55",
      "name": " Email Verifier",
      "notes": "https://rapidapi.com/loopcrunch-loopcrunch-default/api/email-verifier15/playground/apiendpoint_581f83da-4a90-49b7-b49d-c79169dcdf13\n"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const person = item.json.Person || '';\n  const company = item.json.Company || '';\n  const combined = `${person}  ${company}`; // два пробіли між\n  const encoded = encodeURIComponent(combined);\n  item.json.encodedResult = encoded;\n}\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        220
      ],
      "id": "8efb2636-a281-4614-851e-18852ec26fe8",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "=https://linkedin-data-api.p.rapidapi.com/search-people?keywords={{ $json.encodedResult }}&start=0",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "linkedin-data-api.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        760
      ],
      "id": "f833f8f4-1d18-4376-85e1-25367fb289ec",
      "name": "Real-Time LinkedIn Scraper API (Person) Accurate LinkedIn profiles",
      "notes": "https://rapidapi.com/companies-databases-companies-databases-default/api/email-social-scraper-turbo/playground/apiendpoint_189f0932-7462-41aa-a735-78ca81f7de4a\n"
    },
    {
      "parameters": {
        "url": "=https://linkedin-data-api.p.rapidapi.com/?username={{ $json.data.items[0].username }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "linkedin-data-api.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        760
      ],
      "id": "e6d0166a-d48a-4716-b691-be80141f1aa6",
      "name": "LinkedIn Full profile information",
      "notes": "https://rapidapi.com/rockapis-rockapis-default/api/linkedin-data-api/playground/apiendpoint_1d2ead16-5039-4883-ac25-390fa57edf94\n"
    },
    {
      "parameters": {
        "jsCode": "const url = $input.first().json.social_links.LinkedIn[0] || '';\nconst match = url.match(/linkedin\\.com\\/company\\/([^\\/?#]+)/i);\nconst companySlug = match ? match[1] : '';\n\nreturn [\n  {\n    json: {\n      companySlug: companySlug\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        -560
      ],
      "id": "19597774-fdba-4212-a801-9ab213ac69b1",
      "name": "Code1"
    },
    {
      "parameters": {
        "url": "=https://linkedin-data-api.p.rapidapi.com/get-company-details?username={{ $json.companySlug }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "linkedin-data-api.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        -560
      ],
      "id": "06e70671-3bfc-4722-b78e-23ed994b3f4d",
      "name": "LinkedIn All company details",
      "notes": "https://rapidapi.com/rockapis-rockapis-default/api/linkedin-data-api/playground/apiendpoint_8390967f-830a-476f-ad57-5303d3cb4506"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://linkedin-data-api.p.rapidapi.com/get-company-employees-count",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "linkedin-data-api.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"companyId\":\"{{ $json.data.id }}\",\"locations\":[]}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        -560
      ],
      "id": "2ddf9c4b-9f5f-4177-8106-7c80d707adff",
      "name": "LinkedIn Number of employees in the company (possible filter by location)",
      "notes": "https://rapidapi.com/rockapis-rockapis-default/api/linkedin-data-api/playground/apiendpoint_37311c0c-7ae0-4d62-8560-8be2469cdf5a"
    },
    {
      "parameters": {
        "url": "=https://google-search74.p.rapidapi.com/?query={{ $json.encodedEmail }}&limit=10&related_keywords=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "google-search74.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        1380
      ],
      "id": "1fea1a3b-2082-453c-b0c8-50a28437afc9",
      "name": "Google Search Person",
      "notes": "https://rapidapi.com/herosAPI/api/google-search74/playground/apiendpoint_686fbd00-89fa-409e-ae73-c0c5321e32c5\n"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    encodedEmail: encodeURIComponent($json.Person),\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        1400
      ],
      "id": "1171072d-96f5-4377-99a1-ff43910331bf",
      "name": "encodeURI_person"
    },
    {
      "parameters": {
        "url": "=https://linkedin-data-api.p.rapidapi.com/get-profile-posts?username={{ $json.username }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "linkedin-data-api.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        760
      ],
      "id": "3dfc2c30-f6bf-492c-a8c3-4f7576ea66c0",
      "name": "LinkedIn Posts Person",
      "notes": "https://rapidapi.com/rockapis-rockapis-default/api/linkedin-data-api/playground/apiendpoint_1d2ead16-5039-4883-ac25-390fa57edf94\n"
    },
    {
      "parameters": {
        "url": "=https://linkedin-data-api.p.rapidapi.com/get-user-articles?url={{ $json.encodedEmail }}&username={{ $('LinkedIn Posts Person').item.json.data[0].author.username }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "linkedin-data-api.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        760
      ],
      "id": "57832162-9c30-46ed-8956-fd393d69b806",
      "name": " LinkedIn Get user Article",
      "notes": "https://rapidapi.com/rockapis-rockapis-default/api/linkedin-data-api/playground/apiendpoint_c9aa2639-2ed1-4e9d-aa77-b3c780c83949"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    encodedEmail: encodeURIComponent($input.first().json.data[0].author.url),\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        760
      ],
      "id": "58cb565b-efce-4f44-8269-b9f0430315a5",
      "name": "encodeURI_personURL"
    },
    {
      "parameters": {
        "url": "=https://linkedin-data-api.p.rapidapi.com/profiles/position-skills?username={{ $('LinkedIn Posts Person').item.json.data[0].author.username }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "linkedin-data-api.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        760
      ],
      "id": "d04d8f06-a5a5-4d33-9b31-de718580966b",
      "name": "LinkedIn Get Profile position with Skils",
      "notes": "https://rapidapi.com/rockapis-rockapis-default/api/linkedin-data-api/playground/apiendpoint_39d2caed-34b1-4889-b8b4-8bcf7f73a46e"
    },
    {
      "parameters": {
        "url": "=https://twitter-api45.p.rapidapi.com/screenname.php?screenname={{ $json.Twitter }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "twitter-api45.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        1120
      ],
      "id": "f22b843b-38fa-4e5c-861e-0829d5b4d4dc",
      "name": "Twitter User info",
      "notes": "https://rapidapi.com/alexanderxbx/api/twitter-api45/playground/apiendpoint_b4db8ee2-25bc-4743-934d-8b9b4e774bd7"
    },
    {
      "parameters": {
        "url": "=https://twitter-api45.p.rapidapi.com/following.php?screenname={{ $json.profile }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "twitter-api45.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        1120
      ],
      "id": "9effd7f9-0da2-461f-8884-192baa5c1f69",
      "name": "Twitter User info1",
      "notes": "https://rapidapi.com/alexanderxbx/api/twitter-api45/playground/apiendpoint_b4db8ee2-25bc-4743-934d-8b9b4e774bd7"
    },
    {
      "parameters": {
        "url": "=https://twitter-api45.p.rapidapi.com/followers.php?screenname={{ $('Twitter User info').item.json.profile }}&blue_verified=0",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "twitter-api45.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        1120
      ],
      "id": "a7546ade-ae5e-4586-8286-b7db7045df44",
      "name": "Twitter Followers",
      "notes": "https://rapidapi.com/alexanderxbx/api/twitter-api45/playground/apiendpoint_6dc3064f-1d7e-4fc2-8dfc-8140bf82a015"
    },
    {
      "parameters": {
        "url": "=https://twitter-api45.p.rapidapi.com/affilates.php?screenname={{ $('Twitter User info').item.json.profile }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "twitter-api45.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        1120
      ],
      "id": "5d7459fe-8e69-4650-990a-ed47aca5659c",
      "name": "Twitter affiliates",
      "notes": "https://rapidapi.com/alexanderxbx/api/twitter-api45/playground/apiendpoint_fd20eecf-2149-4fc4-93d8-b6501ceb9191"
    },
    {
      "parameters": {
        "url": "=https://twitter-api45.p.rapidapi.com/replies.php?screenname={{ $('Twitter User info').item.json.profile }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "twitter-api45.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        1120
      ],
      "id": "867bd342-0d18-4843-9dfa-64ca870d720a",
      "name": "Twitter User replies",
      "notes": "https://rapidapi.com/alexanderxbx/api/twitter-api45/playground/apiendpoint_734d189c-06d1-40a4-b279-157629276632"
    },
    {
      "parameters": {
        "url": "=https://social-links-search.p.rapidapi.com/search-social-links?query={{ $json.encodedEmail }}&social_networks=facebook%2Ctiktok%2Cinstagram%2Csnapchat%2Ctwitter%2Cyoutube%2Clinkedin%2Cgithub%2Cpinterest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "social-links-search.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        1940
      ],
      "id": "014e31f8-dbeb-4469-9fc9-3da51974a696",
      "name": "Social Links Search Person1",
      "notes": "https://rapidapi.com/letscrape-6bRBa3QguO5/api/social-links-search/playground/apiendpoint_fb6a5ab3-f1b8-4d28-9892-e1b137665e53"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://osint-phone-email-names-search-everything.p.rapidapi.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "osint-phone-email-names-search-everything.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"request\":\"{{ $('Login').item.json.Person }}\",\"lang\":\"en\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        1640
      ],
      "id": "cba85437-fd35-4535-9709-cd28adab5f42",
      "name": "OSINT | Phone, eMail & Names - Search Everything !",
      "notes": "https://rapidapi.com/osint-world-osint-world-default/api/osint-phone-email-names-search-everything/playground/apiendpoint_4c53ba00-5717-47a4-b160-69c2db05e1db"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://osint-phone-email-names-search-everything.p.rapidapi.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "osint-phone-email-names-search-everything.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"request\":\"{{ $json.Company }}\",\"lang\":\"en\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -880
      ],
      "id": "03a8f66e-10aa-494c-9993-c47612022907",
      "name": "OSINT | Phone, eMail & Names - Search Everything !1  Company",
      "notes": "https://rapidapi.com/osint-world-osint-world-default/api/osint-phone-email-names-search-everything/playground/apiendpoint_4c53ba00-5717-47a4-b160-69c2db05e1db"
    },
    {
      "parameters": {
        "url": "=https://reddit-com.p.rapidapi.com/search-people?query={{ $json.encodedEmail }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "reddit-com.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        2220
      ],
      "id": "4b404458-3a2d-4c71-96aa-a79853040ddb",
      "name": "Reddit COM",
      "notes": "https://rapidapi.com/things4u-api4upro/api/reddit-com/playground/apiendpoint_e7e7d788-147e-4b10-a8a0-85c293f2fecb"
    },
    {
      "parameters": {
        "url": "=https://facebook-scraper3.p.rapidapi.com/search/pages?query={{ $json.encodedEmail }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "facebook-scraper3.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        2540
      ],
      "id": "d6d57b6d-3860-4f70-af20-cae2f5ffd684",
      "name": "Facebook Scraper",
      "notes": "https://rapidapi.com/krasnoludkolo/api/facebook-scraper3/playground/apiendpoint_6fc14979-9524-4671-8742-0fc6e8824a2a"
    },
    {
      "parameters": {
        "url": "=https://facebook-scraper3.p.rapidapi.com/search/pages?query=Elon%20Musk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "facebook-scraper3.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $('Login').item.json['x-rapidapi-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        3000
      ],
      "id": "2e7aad76-188f-43a7-963d-7277e75d97ec",
      "name": "Facebook Scraper Elon Musk",
      "notes": "https://rapidapi.com/krasnoludkolo/api/facebook-scraper3/playground/apiendpoint_6fc14979-9524-4671-8742-0fc6e8824a2a"
    }
  ],
  "pinData": {
    "Google Search Person": [
      {
        "json": {
          "search_term": "Roderick Looijs",
          "knowledge_panel": null,
          "results": [
            {
              "position": 1,
              "url": "https://www.triangulargroup.com/en/team/roderick-looijs",
              "title": "Roderick Looijs | Triangular Group",
              "description": "Roderick Looijs. DSCF8249. Triangular Group. Contact. Triangular Group. Herelsestraat 33-35 4726 AB Heerle. support@triangulargroup.com."
            },
            {
              "position": 2,
              "url": "https://contactout.com/Roderick-Looijs-55746354",
              "title": "Roderick Looijs Email & Phone Number - ContactOut",
              "description": "To contact Roderick Looijs send an email to denktank@gmail.com or roderick@flexify.no. If you want to call Roderick Looijs try calling on +31.613287125."
            },
            {
              "position": 3,
              "url": "https://desarrollagrupo.com/the-netharland/",
              "title": "The Netharlands - Grupo Desarrolla",
              "description": "SMartNL is led by Jette Schneider and Roderick Looijs. The two completement each other perfectly thanks to their shared interests and their diametrically ..."
            },
            {
              "position": 4,
              "url": "https://www.triangulargroup.com/en/academy/police-justice",
              "title": "Police & Justice - Triangular Group",
              "description": "Sjors Thomassen. Instructor Police & Justice ; Stanley Scholsberg. Instructor Police & Justice ; Roderick Looijs. Instructor Police & Justice ; Michiel Bitter."
            },
            {
              "position": 5,
              "url": "https://x.com/roderick_looijs",
              "title": "Roderick Looijs (@Roderick_Looijs) / X",
              "description": "Joined January 2011. 2 Following · 11 Followers · Posts · Replies · Media. @Roderick_Looijs hasn't posted. When they do, their posts will show up here."
            },
            {
              "position": 6,
              "url": "https://rocketreach.co/flexify-management_b451cc96fc7785bd",
              "title": "Flexify Management Team | Org Chart - RocketReach",
              "description": "Flexify employs 5 employees. The Flexify management team includes Karl Fremstad (Chief Operating Officer), Roderick Looijs (Eigenaar), and Pernille Sørensen ..."
            },
            {
              "position": 7,
              "url": "https://www.linkedin.com/pub/dir/+/Looijs",
              "title": "40+ \"Looijs\" profiles - LinkedIn",
              "description": "View the profiles of professionals named \"Looijs\" on LinkedIn. There are 40+ professionals named \"Looijs\", who use LinkedIn to exchange information, ideas, and ..."
            },
            {
              "position": 8,
              "url": "https://rocketreach.co/flexify-profile_b451cc96fc7785bd",
              "title": "Flexify Information - RocketReach",
              "description": "Top Flexify Employees ; Karl Fremstad. Chief Operating Officer at Flexify. Oslo, NO ; Roderick Looijs. Eigenaar at Flexify. Utrecht, Utrecht, Netherlands."
            },
            {
              "position": 9,
              "url": "http://flexify.nl/over-ons",
              "title": "Met Flexify heb je altijd grip op je administratie",
              "description": "Roderick Looijs. Belastingadviseur. Als belastingadviseur met een ICT achtergrond heb ik de ideale combinatie om een boekhoudprogramma te ontwerpen dat ook écht ..."
            },
            {
              "position": 10,
              "url": "https://x.com/roderick_looijs?lang=ca",
              "title": "Roderick Looijs (@Roderick_Looijs) / X",
              "description": "Entra · Registra't · Obre la foto de perfil. Roderick Looijs. @Roderick_Looijs. Data en què s'hi va unir: gener de 2011. 2 Seguint · 11 Seguidors."
            }
          ],
          "related_keywords": {
            "spelling_suggestion_html": "Roderick <sc>looks</sc>",
            "spelling_suggestion": "Roderick looks",
            "keywords": [
              {
                "position": 1,
                "knowledge": null,
                "keyword_html": "roderick<b> usher's appearance is</b>",
                "keyword": "roderick usher's appearance is"
              },
              {
                "position": 2,
                "knowledge": null,
                "keyword_html": "roderick<b> loving</b>",
                "keyword": "roderick loving"
              },
              {
                "position": 3,
                "knowledge": null,
                "keyword_html": "roderick<b> usher</b>",
                "keyword": "roderick usher"
              },
              {
                "position": 4,
                "knowledge": null,
                "keyword_html": "roderick<b> the house of usher</b>",
                "keyword": "roderick the house of usher"
              }
            ]
          }
        }
      }
    ],
    "encodeURI_person": [
      {
        "json": {
          "encodedEmail": "Roderick%20Looijs"
        }
      }
    ],
    "Real-Time LinkedIn Scraper API (Person) Accurate LinkedIn profiles": [
      {
        "json": {
          "success": true,
          "message": "",
          "data": {
            "total": 1,
            "items": [
              {
                "fullName": "Roderick Looijs",
                "headline": "Program Manager at Triangular Group",
                "summary": "Current: Information Technology Program Manager at Triangular Group Intelligence",
                "profilePicture": "https://media.licdn.com/dms/image/v2/D4D03AQGaYYfpWqfuKw/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1723734329675?e=1754524800&v=beta&t=NwY1ohOIZlEwlsI_8OG1G4ujPOVi3CdEJsrwoAOGeDM",
                "location": "Brabantine City Row",
                "profileURL": "https://www.linkedin.com/in/rodericklooijs",
                "username": "rodericklooijs"
              }
            ]
          }
        }
      }
    ],
    "LinkedIn Full profile information": [
      {
        "json": {
          "id": 28149093,
          "urn": "ACoAAAGthWUB1bqsniIAYq-7OiB9G698HDKlhAU",
          "username": "rodericklooijs",
          "firstName": "Roderick",
          "lastName": "Looijs",
          "isPremium": true,
          "profilePicture": "https://media.licdn.com/dms/image/v2/D4D03AQGaYYfpWqfuKw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1723734329689?e=1754524800&v=beta&t=iWsVogy1tUhSRwRgTGa5yk-oje3gNoYU_vQdj3TKJYc",
          "profilePictures": [
            {
              "url": "https://media.licdn.com/dms/image/v2/D4D03AQGaYYfpWqfuKw/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1723734329675?e=1754524800&v=beta&t=NwY1ohOIZlEwlsI_8OG1G4ujPOVi3CdEJsrwoAOGeDM",
              "width": 100,
              "height": 100
            },
            {
              "url": "https://media.licdn.com/dms/image/v2/D4D03AQGaYYfpWqfuKw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1723734329675?e=1754524800&v=beta&t=ujs-z-zKvws2fOqPMhi-W4XVzm7Eg997SU93KTXHPfg",
              "width": 200,
              "height": 200
            },
            {
              "url": "https://media.licdn.com/dms/image/v2/D4D03AQGaYYfpWqfuKw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1723734329675?e=1754524800&v=beta&t=54n2nWrrkdQ_cO1_jyauR1LDDoUMrUj922qMNWKS76M",
              "width": 400,
              "height": 400
            },
            {
              "url": "https://media.licdn.com/dms/image/v2/D4D03AQGaYYfpWqfuKw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1723734329689?e=1754524800&v=beta&t=iWsVogy1tUhSRwRgTGa5yk-oje3gNoYU_vQdj3TKJYc",
              "width": 800,
              "height": 800
            }
          ],
          "summary": "I am a Product Manager with an entrepreneurial mindset and broad experience in building and leading cross-functional teams. I enjoy generating new ideas and devising feasible solutions to broadly relevant problems.",
          "headline": "Program Manager at Triangular Group",
          "geo": {
            "country": "Netherlands",
            "city": "Brabantine City Row",
            "full": "Brabantine City Row",
            "countryCode": "nl"
          },
          "languages": [
            {
              "name": "Dutch",
              "proficiency": ""
            },
            {
              "name": "English",
              "proficiency": ""
            },
            {
              "name": "German",
              "proficiency": ""
            }
          ],
          "educations": [
            {
              "start": {
                "year": 2002,
                "month": 0,
                "day": 0
              },
              "end": {
                "year": 2005,
                "month": 0,
                "day": 0
              },
              "fieldOfStudy": "Artificial Intelligence",
              "degree": "",
              "grade": "",
              "schoolName": "Radboud University Nijmegen",
              "description": "",
              "activities": "",
              "url": "https://www.linkedin.com/school/radboud-university-nijmegen/",
              "schoolId": "6901",
              "logo": [
                {
                  "url": "https://media.licdn.com/dms/image/v2/C4E0BAQHgdni-2v0psQ/company-logo_200_200/company-logo_200_200/0/1670846117385/radboud_university_nijmegen_logo?e=1754524800&v=beta&t=y20vpDCPPYGQ3rFCAfARzirQoLC5rf-0kODfO-UlwuU",
                  "width": 200,
                  "height": 200
                },
                {
                  "url": "https://media.licdn.com/dms/image/v2/C4E0BAQHgdni-2v0psQ/company-logo_100_100/company-logo_100_100/0/1670846117385/radboud_university_nijmegen_logo?e=1754524800&v=beta&t=QwplxzqCkartRkXaAqgFu8Zi56zvw4a7hdVeoXZOQ1g",
                  "width": 100,
                  "height": 100
                },
                {
                  "url": "https://media.licdn.com/dms/image/v2/C4E0BAQHgdni-2v0psQ/company-logo_400_400/company-logo_400_400/0/1670846117385/radboud_university_nijmegen_logo?e=1754524800&v=beta&t=WQpgCWI1HoHIfBPcGec_bkbSoSpx9Fm95u68SqvlKwg",
                  "width": 400,
                  "height": 400
                }
              ]
            },
            {
              "start": {
                "year": 2005,
                "month": 0,
                "day": 0
              },
              "end": {
                "year": 2008,
                "month": 0,
                "day": 0
              },
              "fieldOfStudy": "Tax Law",
              "degree": "",
              "grade": "",
              "schoolName": "Universiteit Leiden",
              "description": "Speciale vermelding voor Moot Court (oefen rechtbank)",
              "activities": "",
              "url": "https://www.linkedin.com/school/leiden-university/",
              "schoolId": "6077",
              "logo": [
                {
                  "url": "https://media.licdn.com/dms/image/v2/D4E0BAQHq-Y_nNI1qJQ/company-logo_200_200/company-logo_200_200/0/1733919051012/leiden_university_logo?e=1754524800&v=beta&t=gXuR2IpWKGJ50QxYa-DnfYSG6zsAIcuf4KH8bnhgIQk",
                  "width": 200,
                  "height": 200
                },
                {
                  "url": "https://media.licdn.com/dms/image/v2/D4E0BAQHq-Y_nNI1qJQ/company-logo_100_100/company-logo_100_100/0/1733919051012/leiden_university_logo?e=1754524800&v=beta&t=1UarU04N7DdkDMCueGOxUZbZ22VL9d-g_i15iqLl_ek",
                  "width": 100,
                  "height": 100
                },
                {
                  "url": "https://media.licdn.com/dms/image/v2/D4E0BAQHq-Y_nNI1qJQ/company-logo_400_400/company-logo_400_400/0/1733919051012/leiden_university_logo?e=1754524800&v=beta&t=jlDQV3WwpAyTnrSfdnmvanvyXiAAKUUWtKAUxLMwnWE",
                  "width": 400,
                  "height": 400
                }
              ]
            },
            {
              "start": {
                "year": 2011,
                "month": 0,
                "day": 0
              },
              "end": {
                "year": 2012,
                "month": 0,
                "day": 0
              },
              "fieldOfStudy": "",
              "degree": "",
              "grade": "",
              "schoolName": "Register Belastingadviseurs",
              "description": "Opleiding versneld afgerond",
              "activities": "",
              "url": "",
              "schoolId": "",
              "logo": null
            }
          ],
          "position": [
            {
              "companyId": 10596088,
              "companyName": "Triangular Group Intelligence",
              "companyUsername": "",
              "companyURL": "",
              "companyLogo": "",
              "companyIndustry": "",
              "companyStaffCountRange": "",
              "title": "Information Technology Program Manager",
              "multiLocaleTitle": {
                "en_US": "Information Technology Program Manager"
              },
              "multiLocaleCompanyName": {
                "en_US": "Triangular Group Intelligence"
              },
              "location": "",
              "locationType": "",
              "description": "",
              "employmentType": "Full-time",
              "start": {
                "year": 2023,
                "month": 1,
                "day": 0
              },
              "end": {
                "year": 0,
                "month": 0,
                "day": 0
              }
            },
            {
              "companyId": 2857644,
              "companyName": "Politie Nederland",
              "companyUsername": "politie-nederland",
              "companyURL": "https://www.linkedin.com/company/politie-nederland/",
              "companyLogo": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_400_400/company-logo_400_400/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=xfDsaMxKDk2tPccSUX_WmAMK2FgFm_8zVOwGNTiSs8Y",
              "companyIndustry": "Law Enforcement",
              "companyStaffCountRange": "10001+",
              "title": "Product Owner data- and intelligence platforms",
              "multiLocaleTitle": {
                "en_US": "Product Owner data- and intelligence platforms"
              },
              "multiLocaleCompanyName": {
                "en_US": "Politie Nederland"
              },
              "location": "",
              "locationType": "",
              "description": "Product owner of three scrum teams that work on the three biggest search-based applications of the Dutch Police",
              "employmentType": "",
              "start": {
                "year": 2021,
                "month": 10,
                "day": 0
              },
              "end": {
                "year": 2022,
                "month": 12,
                "day": 0
              }
            },
            {
              "companyId": 2857644,
              "companyName": "Politie Nederland",
              "companyUsername": "politie-nederland",
              "companyURL": "https://www.linkedin.com/company/politie-nederland/",
              "companyLogo": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_400_400/company-logo_400_400/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=xfDsaMxKDk2tPccSUX_WmAMK2FgFm_8zVOwGNTiSs8Y",
              "companyIndustry": "Law Enforcement",
              "companyStaffCountRange": "10001+",
              "title": "Project leader Innovative Cyber investigations",
              "multiLocaleTitle": {
                "en_US": "Project leader Innovative Cyber investigations"
              },
              "multiLocaleCompanyName": {
                "en_US": "Politie Nederland"
              },
              "location": "",
              "locationType": "",
              "description": "Initiating and directing new methods of tackling cybercrime",
              "employmentType": "",
              "start": {
                "year": 2020,
                "month": 1,
                "day": 0
              },
              "end": {
                "year": 2022,
                "month": 12,
                "day": 0
              }
            },
            {
              "companyId": 2857644,
              "companyName": "Politie Nederland",
              "companyUsername": "politie-nederland",
              "companyURL": "https://www.linkedin.com/company/politie-nederland/",
              "companyLogo": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_400_400/company-logo_400_400/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=xfDsaMxKDk2tPccSUX_WmAMK2FgFm_8zVOwGNTiSs8Y",
              "companyIndustry": "Law Enforcement",
              "companyStaffCountRange": "10001+",
              "title": "Founder Cyber Crime Team - Politie Oost Nederland",
              "multiLocaleTitle": {
                "en_US": "Founder Cyber Crime Team - Politie Oost Nederland"
              },
              "multiLocaleCompanyName": {
                "en_US": "Politie Nederland"
              },
              "location": "",
              "locationType": "",
              "description": "Forming a multidisciplinary team of investigative-, intelligence- and technical specialists to effectively combat cybercrime",
              "employmentType": "",
              "start": {
                "year": 2019,
                "month": 7,
                "day": 0
              },
              "end": {
                "year": 2020,
                "month": 12,
                "day": 0
              }
            },
            {
              "companyId": 2857644,
              "companyName": "Politie Nederland",
              "companyUsername": "politie-nederland",
              "companyURL": "https://www.linkedin.com/company/politie-nederland/",
              "companyLogo": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_400_400/company-logo_400_400/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=xfDsaMxKDk2tPccSUX_WmAMK2FgFm_8zVOwGNTiSs8Y",
              "companyIndustry": "Law Enforcement",
              "companyStaffCountRange": "10001+",
              "title": "Analyst Financial and Economic Crime",
              "multiLocaleTitle": {
                "en_US": "Analyst Financial and Economic Crime"
              },
              "multiLocaleCompanyName": {
                "en_US": "Politie Nederland"
              },
              "location": "",
              "locationType": "",
              "description": "",
              "employmentType": "",
              "start": {
                "year": 2016,
                "month": 9,
                "day": 0
              },
              "end": {
                "year": 2019,
                "month": 6,
                "day": 0
              }
            },
            {
              "companyId": 0,
              "companyName": "Small Business",
              "companyUsername": "",
              "companyURL": "",
              "companyLogo": "",
              "companyIndustry": "",
              "companyStaffCountRange": "",
              "title": "Small Business Owner OSINT Tooling",
              "multiLocaleTitle": {
                "en_US": "Small Business Owner OSINT Tooling"
              },
              "multiLocaleCompanyName": {
                "en_US": "Small Business"
              },
              "location": "Nijmegen, Gelderland, Netherlands",
              "locationType": "",
              "description": "Owner of a small business (~5 employees) that creates and develops online monitoring- and OSINT tooling.",
              "employmentType": "",
              "start": {
                "year": 2021,
                "month": 1,
                "day": 0
              },
              "end": {
                "year": 2022,
                "month": 12,
                "day": 0
              }
            },
            {
              "companyId": 1662761,
              "companyName": "Kronenburgh Beroepsopleidingen",
              "companyUsername": "kronenburgh",
              "companyURL": "https://www.linkedin.com/school/kronenburgh/",
              "companyLogo": "https://media.licdn.com/dms/image/v2/C4D0BAQFL8cnjpnLQgA/company-logo_400_400/company-logo_400_400/0/1640764365850/kronenburgh_beroepsopleidingen_logo?e=1754524800&v=beta&t=S4XeYOXhwRiyX7zV6vPF7JWVqCTLNDn8UU4L6BABklU",
              "companyIndustry": "Higher Education",
              "companyStaffCountRange": "11 - 50",
              "title": "Member Of The Board Of Advisors",
              "multiLocaleTitle": {
                "en_US": "Member Of The Board Of Advisors"
              },
              "multiLocaleCompanyName": {
                "en_US": "Kronenburgh Beroepsopleidingen"
              },
              "location": "",
              "locationType": "",
              "description": "",
              "employmentType": "",
              "start": {
                "year": 2010,
                "month": 1,
                "day": 0
              },
              "end": {
                "year": 2019,
                "month": 12,
                "day": 0
              }
            },
            {
              "companyId": 0,
              "companyName": "Webstrength",
              "companyUsername": "",
              "companyURL": "",
              "companyLogo": "",
              "companyIndustry": "",
              "companyStaffCountRange": "",
              "title": "Business Owner FinTech company",
              "multiLocaleTitle": {
                "en_US": "Business Owner FinTech company"
              },
              "multiLocaleCompanyName": {
                "en_US": "Webstrength"
              },
              "location": "",
              "locationType": "",
              "description": "Creating and developing online tooling and platforms that support entrepreneurs and small business owners, among which:\n\n- Flexify Online Bookkeeping, 500+ licenses sold\n- StartersPlatform, enabling students to build their business without the (administrative) hassle of having to deal with the Chamber of Commerce or VAT returns.",
              "employmentType": "",
              "start": {
                "year": 2013,
                "month": 1,
                "day": 0
              },
              "end": {
                "year": 2018,
                "month": 12,
                "day": 0
              }
            },
            {
              "companyId": 0,
              "companyName": "SMartNL",
              "companyUsername": "",
              "companyURL": "",
              "companyLogo": "",
              "companyIndustry": "",
              "companyStaffCountRange": "",
              "title": "Founding Board Member",
              "multiLocaleTitle": {
                "en_US": "Founding Board Member"
              },
              "multiLocaleCompanyName": {
                "en_US": "SMartNL"
              },
              "location": "Amsterdam",
              "locationType": "",
              "description": "SMartNL is a shared production house for creatives and projects providing administrative, financial and legal services. It is a part of a European group of SMart organisations with +65 000 users in 9 countries.",
              "employmentType": "",
              "start": {
                "year": 2013,
                "month": 1,
                "day": 0
              },
              "end": {
                "year": 2017,
                "month": 6,
                "day": 0
              }
            },
            {
              "companyId": 0,
              "companyName": "BRM Finance",
              "companyUsername": "",
              "companyURL": "",
              "companyLogo": "",
              "companyIndustry": "",
              "companyStaffCountRange": "",
              "title": "Business Owner",
              "multiLocaleTitle": {
                "en_US": "Business Owner"
              },
              "multiLocaleCompanyName": {
                "en_US": "BRM Finance"
              },
              "location": "Amersfoort",
              "locationType": "",
              "description": "Consulting small and medium-sized enterprises regarding their taxes, financial reports and resource planning, and providing training and education to larger companies, among which \n- 'Legal Assistant' for the Dutch Immigration Service\n- 'Business Administrator' for Rabobank",
              "employmentType": "",
              "start": {
                "year": 2008,
                "month": 3,
                "day": 0
              },
              "end": {
                "year": 2013,
                "month": 1,
                "day": 0
              }
            },
            {
              "companyId": 1038,
              "companyName": "Deloitte Nederland",
              "companyUsername": "deloitte",
              "companyURL": "https://www.linkedin.com/company/deloitte/",
              "companyLogo": "https://media.licdn.com/dms/image/v2/C560BAQGNtpblgQpJoQ/company-logo_400_400/company-logo_400_400/0/1662120928214/deloitte_logo?e=1754524800&v=beta&t=ysZJFDdoeVCWNKQLQPo6OjGXn8U4Rf-LwUalQ7Nznew",
              "companyIndustry": "Management Consulting",
              "companyStaffCountRange": "10001+",
              "title": "Tax Consultant",
              "multiLocaleTitle": {
                "en_US": "Tax Consultant"
              },
              "multiLocaleCompanyName": {
                "en_US": "Deloitte Nederland"
              },
              "location": "",
              "locationType": "",
              "description": "Tax consultant - generalist",
              "employmentType": "",
              "start": {
                "year": 2007,
                "month": 9,
                "day": 0
              },
              "end": {
                "year": 2008,
                "month": 3,
                "day": 0
              }
            }
          ],
          "fullPositions": [
            {
              "companyId": 10596088,
              "companyName": "Triangular Group Intelligence",
              "companyUsername": "",
              "companyURL": "",
              "companyLogo": "",
              "companyIndustry": "",
              "companyStaffCountRange": "",
              "title": "Information Technology Program Manager",
              "multiLocaleTitle": {
                "en_US": "Information Technology Program Manager"
              },
              "multiLocaleCompanyName": {
                "en_US": "Triangular Group Intelligence"
              },
              "location": "",
              "locationType": "",
              "description": "",
              "employmentType": "Full-time",
              "start": {
                "year": 2023,
                "month": 1,
                "day": 0
              },
              "end": {
                "year": 0,
                "month": 0,
                "day": 0
              }
            },
            {
              "companyId": 2857644,
              "companyName": "Politie Nederland",
              "companyUsername": "politie-nederland",
              "companyURL": "https://www.linkedin.com/company/politie-nederland/",
              "companyLogo": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_400_400/company-logo_400_400/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=xfDsaMxKDk2tPccSUX_WmAMK2FgFm_8zVOwGNTiSs8Y",
              "companyIndustry": "Law Enforcement",
              "companyStaffCountRange": "10001+",
              "title": "Product Owner data- and intelligence platforms",
              "multiLocaleTitle": {
                "en_US": "Product Owner data- and intelligence platforms"
              },
              "multiLocaleCompanyName": {
                "en_US": "Politie Nederland"
              },
              "location": "",
              "locationType": "",
              "description": "Product owner of three scrum teams that work on the three biggest search-based applications of the Dutch Police",
              "employmentType": "",
              "start": {
                "year": 2021,
                "month": 10,
                "day": 0
              },
              "end": {
                "year": 2022,
                "month": 12,
                "day": 0
              }
            },
            {
              "companyId": 2857644,
              "companyName": "Politie Nederland",
              "companyUsername": "politie-nederland",
              "companyURL": "https://www.linkedin.com/company/politie-nederland/",
              "companyLogo": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_400_400/company-logo_400_400/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=xfDsaMxKDk2tPccSUX_WmAMK2FgFm_8zVOwGNTiSs8Y",
              "companyIndustry": "Law Enforcement",
              "companyStaffCountRange": "10001+",
              "title": "Project leader Innovative Cyber investigations",
              "multiLocaleTitle": {
                "en_US": "Project leader Innovative Cyber investigations"
              },
              "multiLocaleCompanyName": {
                "en_US": "Politie Nederland"
              },
              "location": "",
              "locationType": "",
              "description": "Initiating and directing new methods of tackling cybercrime",
              "employmentType": "",
              "start": {
                "year": 2020,
                "month": 1,
                "day": 0
              },
              "end": {
                "year": 2022,
                "month": 12,
                "day": 0
              }
            },
            {
              "companyId": 2857644,
              "companyName": "Politie Nederland",
              "companyUsername": "politie-nederland",
              "companyURL": "https://www.linkedin.com/company/politie-nederland/",
              "companyLogo": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_400_400/company-logo_400_400/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=xfDsaMxKDk2tPccSUX_WmAMK2FgFm_8zVOwGNTiSs8Y",
              "companyIndustry": "Law Enforcement",
              "companyStaffCountRange": "10001+",
              "title": "Founder Cyber Crime Team - Politie Oost Nederland",
              "multiLocaleTitle": {
                "en_US": "Founder Cyber Crime Team - Politie Oost Nederland"
              },
              "multiLocaleCompanyName": {
                "en_US": "Politie Nederland"
              },
              "location": "",
              "locationType": "",
              "description": "Forming a multidisciplinary team of investigative-, intelligence- and technical specialists to effectively combat cybercrime",
              "employmentType": "",
              "start": {
                "year": 2019,
                "month": 7,
                "day": 0
              },
              "end": {
                "year": 2020,
                "month": 12,
                "day": 0
              }
            },
            {
              "companyId": 2857644,
              "companyName": "Politie Nederland",
              "companyUsername": "politie-nederland",
              "companyURL": "https://www.linkedin.com/company/politie-nederland/",
              "companyLogo": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_400_400/company-logo_400_400/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=xfDsaMxKDk2tPccSUX_WmAMK2FgFm_8zVOwGNTiSs8Y",
              "companyIndustry": "Law Enforcement",
              "companyStaffCountRange": "10001+",
              "title": "Analyst Financial and Economic Crime",
              "multiLocaleTitle": {
                "en_US": "Analyst Financial and Economic Crime"
              },
              "multiLocaleCompanyName": {
                "en_US": "Politie Nederland"
              },
              "location": "",
              "locationType": "",
              "description": "",
              "employmentType": "",
              "start": {
                "year": 2016,
                "month": 9,
                "day": 0
              },
              "end": {
                "year": 2019,
                "month": 6,
                "day": 0
              }
            },
            {
              "companyId": 0,
              "companyName": "Small Business",
              "companyUsername": "",
              "companyURL": "",
              "companyLogo": "",
              "companyIndustry": "",
              "companyStaffCountRange": "",
              "title": "Small Business Owner OSINT Tooling",
              "multiLocaleTitle": {
                "en_US": "Small Business Owner OSINT Tooling"
              },
              "multiLocaleCompanyName": {
                "en_US": "Small Business"
              },
              "location": "Nijmegen, Gelderland, Netherlands",
              "locationType": "",
              "description": "Owner of a small business (~5 employees) that creates and develops online monitoring- and OSINT tooling.",
              "employmentType": "",
              "start": {
                "year": 2021,
                "month": 1,
                "day": 0
              },
              "end": {
                "year": 2022,
                "month": 12,
                "day": 0
              }
            },
            {
              "companyId": 1662761,
              "companyName": "Kronenburgh Beroepsopleidingen",
              "companyUsername": "kronenburgh",
              "companyURL": "https://www.linkedin.com/school/kronenburgh/",
              "companyLogo": "https://media.licdn.com/dms/image/v2/C4D0BAQFL8cnjpnLQgA/company-logo_400_400/company-logo_400_400/0/1640764365850/kronenburgh_beroepsopleidingen_logo?e=1754524800&v=beta&t=S4XeYOXhwRiyX7zV6vPF7JWVqCTLNDn8UU4L6BABklU",
              "companyIndustry": "Higher Education",
              "companyStaffCountRange": "11 - 50",
              "title": "Member Of The Board Of Advisors",
              "multiLocaleTitle": {
                "en_US": "Member Of The Board Of Advisors"
              },
              "multiLocaleCompanyName": {
                "en_US": "Kronenburgh Beroepsopleidingen"
              },
              "location": "",
              "locationType": "",
              "description": "",
              "employmentType": "",
              "start": {
                "year": 2010,
                "month": 1,
                "day": 0
              },
              "end": {
                "year": 2019,
                "month": 12,
                "day": 0
              }
            },
            {
              "companyId": 0,
              "companyName": "Webstrength",
              "companyUsername": "",
              "companyURL": "",
              "companyLogo": "",
              "companyIndustry": "",
              "companyStaffCountRange": "",
              "title": "Business Owner FinTech company",
              "multiLocaleTitle": {
                "en_US": "Business Owner FinTech company"
              },
              "multiLocaleCompanyName": {
                "en_US": "Webstrength"
              },
              "location": "",
              "locationType": "",
              "description": "Creating and developing online tooling and platforms that support entrepreneurs and small business owners, among which:\n\n- Flexify Online Bookkeeping, 500+ licenses sold\n- StartersPlatform, enabling students to build their business without the (administrative) hassle of having to deal with the Chamber of Commerce or VAT returns.",
              "employmentType": "",
              "start": {
                "year": 2013,
                "month": 1,
                "day": 0
              },
              "end": {
                "year": 2018,
                "month": 12,
                "day": 0
              }
            },
            {
              "companyId": 0,
              "companyName": "SMartNL",
              "companyUsername": "",
              "companyURL": "",
              "companyLogo": "",
              "companyIndustry": "",
              "companyStaffCountRange": "",
              "title": "Founding Board Member",
              "multiLocaleTitle": {
                "en_US": "Founding Board Member"
              },
              "multiLocaleCompanyName": {
                "en_US": "SMartNL"
              },
              "location": "Amsterdam",
              "locationType": "",
              "description": "SMartNL is a shared production house for creatives and projects providing administrative, financial and legal services. It is a part of a European group of SMart organisations with +65 000 users in 9 countries.",
              "employmentType": "",
              "start": {
                "year": 2013,
                "month": 1,
                "day": 0
              },
              "end": {
                "year": 2017,
                "month": 6,
                "day": 0
              }
            },
            {
              "companyId": 0,
              "companyName": "BRM Finance",
              "companyUsername": "",
              "companyURL": "",
              "companyLogo": "",
              "companyIndustry": "",
              "companyStaffCountRange": "",
              "title": "Business Owner",
              "multiLocaleTitle": {
                "en_US": "Business Owner"
              },
              "multiLocaleCompanyName": {
                "en_US": "BRM Finance"
              },
              "location": "Amersfoort",
              "locationType": "",
              "description": "Consulting small and medium-sized enterprises regarding their taxes, financial reports and resource planning, and providing training and education to larger companies, among which \n- 'Legal Assistant' for the Dutch Immigration Service\n- 'Business Administrator' for Rabobank",
              "employmentType": "",
              "start": {
                "year": 2008,
                "month": 3,
                "day": 0
              },
              "end": {
                "year": 2013,
                "month": 1,
                "day": 0
              }
            },
            {
              "companyId": 1038,
              "companyName": "Deloitte Nederland",
              "companyUsername": "deloitte",
              "companyURL": "https://www.linkedin.com/company/deloitte/",
              "companyLogo": "https://media.licdn.com/dms/image/v2/C560BAQGNtpblgQpJoQ/company-logo_400_400/company-logo_400_400/0/1662120928214/deloitte_logo?e=1754524800&v=beta&t=ysZJFDdoeVCWNKQLQPo6OjGXn8U4Rf-LwUalQ7Nznew",
              "companyIndustry": "Management Consulting",
              "companyStaffCountRange": "10001+",
              "title": "Tax Consultant",
              "multiLocaleTitle": {
                "en_US": "Tax Consultant"
              },
              "multiLocaleCompanyName": {
                "en_US": "Deloitte Nederland"
              },
              "location": "",
              "locationType": "",
              "description": "Tax consultant - generalist",
              "employmentType": "",
              "start": {
                "year": 2007,
                "month": 9,
                "day": 0
              },
              "end": {
                "year": 2008,
                "month": 3,
                "day": 0
              }
            }
          ],
          "skills": [
            {
              "name": "Jira",
              "passedSkillAssessment": false
            },
            {
              "name": "Product Management",
              "passedSkillAssessment": false
            },
            {
              "name": "Unity",
              "passedSkillAssessment": false
            },
            {
              "name": "C#",
              "passedSkillAssessment": false
            },
            {
              "name": "SQL",
              "passedSkillAssessment": false
            },
            {
              "name": "Cross-functional Team Leadership",
              "passedSkillAssessment": false
            },
            {
              "name": "FinTech",
              "passedSkillAssessment": false
            },
            {
              "name": "Business Analysis",
              "passedSkillAssessment": false
            },
            {
              "name": "Entrepreneurship",
              "passedSkillAssessment": false
            },
            {
              "name": "Analytical Skills",
              "passedSkillAssessment": false
            },
            {
              "name": "Law Enforcement",
              "passedSkillAssessment": false
            },
            {
              "name": "Process Improvement",
              "passedSkillAssessment": false
            },
            {
              "name": "Information Technology",
              "passedSkillAssessment": false
            },
            {
              "name": "Scrum",
              "passedSkillAssessment": false
            },
            {
              "name": "Change Management",
              "passedSkillAssessment": false
            },
            {
              "name": "Law Enforcement Intelligence",
              "passedSkillAssessment": false
            },
            {
              "name": "Online Bookkeeping",
              "passedSkillAssessment": false
            },
            {
              "name": "Dutch",
              "passedSkillAssessment": false,
              "endorsementsCount": 9
            },
            {
              "name": "Tax Advisory",
              "passedSkillAssessment": false,
              "endorsementsCount": 8
            },
            {
              "name": "Financial Accounting",
              "passedSkillAssessment": false,
              "endorsementsCount": 8
            },
            {
              "name": "Restructuring",
              "passedSkillAssessment": false
            },
            {
              "name": "Interim Management",
              "passedSkillAssessment": false,
              "endorsementsCount": 2
            },
            {
              "name": "English",
              "passedSkillAssessment": false
            }
          ],
          "projects": {},
          "supportedLocales": [
            {
              "country": "US",
              "language": "en"
            }
          ],
          "multiLocaleFirstName": {
            "en": "Roderick"
          },
          "multiLocaleLastName": {
            "en": "Looijs"
          },
          "multiLocaleHeadline": {
            "en": "Program Manager at Triangular Group"
          }
        }
      }
    ],
    "LinkedIn Posts Person": [
      {
        "json": {
          "success": true,
          "message": "",
          "data": [
            {
              "isBrandPartnership": false,
              "text": "Zit je ook te stressen om je administratie voor 1 april af te krijgen? \n\nMisschien is Flexify dan iets voor jou: \n\n■ Makkelijk relaties invoeren door onze koppeling met de Kamer van Koophandel\n\n■ Je rittenadministratie zelf laten berekenen hoeveel kilometers je hebt gemaakt door onze koppeling met GoogleMaps \n\n■ Automatisch al je banktransacties koppelen en verwerken met één klik op knop\n\nAl het gemak om snel en veilig je administratie op orde te brengen!\n\nwww.flexify.nl",
              "postUrl": "https://www.linkedin.com/feed/update/urn:li:activity:5854233091832311808/",
              "shareUrl": "https://www.linkedin.com/posts/activity-5854233091832311808-K1LJ?utm_source=social_share_send&utm_medium=member_desktop_web&rcm=ACoAAFcUIbsB9syip_lFx55fKWMLeHEyAOoeHRQ",
              "postedAt": "11yr",
              "postedDate": "2014-03-25 14:32:15.484 +0000 UTC",
              "postedDateTimestamp": 1395757935484,
              "urn": "5854233091832311808",
              "author": {
                "id": 28149093,
                "firstName": "Roderick",
                "lastName": "Looijs",
                "headline": "Program Manager at Triangular Group",
                "username": "rodericklooijs",
                "url": "https://www.linkedin.com/in/rodericklooijs",
                "profilePictures": [
                  {
                    "width": 100,
                    "height": 100,
                    "url": "https://media.licdn.com/dms/image/v2/D4D03AQGaYYfpWqfuKw/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1723734329675?e=1754524800&v=beta&t=NwY1ohOIZlEwlsI_8OG1G4ujPOVi3CdEJsrwoAOGeDM"
                  },
                  {
                    "width": 200,
                    "height": 200,
                    "url": "https://media.licdn.com/dms/image/v2/D4D03AQGaYYfpWqfuKw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1723734329675?e=1754524800&v=beta&t=ujs-z-zKvws2fOqPMhi-W4XVzm7Eg997SU93KTXHPfg"
                  },
                  {
                    "width": 400,
                    "height": 400,
                    "url": "https://media.licdn.com/dms/image/v2/D4D03AQGaYYfpWqfuKw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1723734329675?e=1754524800&v=beta&t=54n2nWrrkdQ_cO1_jyauR1LDDoUMrUj922qMNWKS76M"
                  },
                  {
                    "width": 800,
                    "height": 800,
                    "url": "https://media.licdn.com/dms/image/v2/D4D03AQGaYYfpWqfuKw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1723734329689?e=1754524800&v=beta&t=iWsVogy1tUhSRwRgTGa5yk-oje3gNoYU_vQdj3TKJYc"
                  }
                ],
                "urn": "urn:li:fsd_profile:ACoAAAGthWUB1bqsniIAYq-7OiB9G698HDKlhAU"
              },
              "company": {},
              "document": {},
              "celebration": {},
              "poll": {},
              "contentType": "article",
              "article": {
                "title": "Simpel en compleet",
                "subtitle": "flexify.nl",
                "link": "http://www.flexify.nl",
                "image": [
                  {
                    "width": 256,
                    "height": 256,
                    "url": "https://media.licdn.com/dms/image/sync/v2/C4E34AQGXq2bHqxw4sg/ugc-proxy-shrink_1280_800/ugc-proxy-shrink_1280_800/0/1606197002258?e=1749808800&v=beta&t=Bh8S4BTZ9UlkFlgselLq2tLYP8AV49eRHEHi_8vUFM0"
                  },
                  {
                    "width": 256,
                    "height": 256,
                    "url": "https://media.licdn.com/dms/image/sync/v2/C4E34AQGXq2bHqxw4sg/ugc-proxy-shrink_480/ugc-proxy-shrink_480/0/1606197002258?e=1749808800&v=beta&t=7fUEY44aE6Rpxqe3W-iAV6ubelSYKtnFf7l7qZllY94"
                  },
                  {
                    "width": 160,
                    "height": 160,
                    "url": "https://media.licdn.com/dms/image/sync/v2/C4E34AQGXq2bHqxw4sg/ugc-proxy-shrink_160/ugc-proxy-shrink_160/0/1606197002258?e=1749808800&v=beta&t=4FVt1t9fa9akZkYnNnjC97wrW1TCjbuv_1al7ieE2WM"
                  },
                  {
                    "width": 256,
                    "height": 256,
                    "url": "https://media.licdn.com/dms/image/sync/v2/C4E34AQGXq2bHqxw4sg/ugc-proxy-shrink_800/ugc-proxy-shrink_800/0/1606197002258?e=1749808800&v=beta&t=k9SHwkCwQTtlHBLwq09LZqsbbgvbUP6mRwLaVhH2wuw"
                  }
                ],
                "newsletter": {}
              },
              "entity": {}
            }
          ],
          "paginationToken": "dXJuOmxpOmFjdGl2aXR5OjU4NTQyMzMwOTE4MzIzMTE4MDgtMTM5NTc1Nzk4OTk1MA=="
        }
      }
    ],
    "encodeURI_personURL": [
      {
        "json": {
          "encodedEmail": "https%3A%2F%2Fwww.linkedin.com%2Fin%2Frodericklooijs"
        }
      }
    ],
    " LinkedIn Get user Article": [
      {
        "json": {
          "success": true,
          "message": "success",
          "data": {
            "items": null,
            "currentPage": 1
          }
        }
      }
    ],
    "LinkedIn Get Profile position with Skils": [
      {
        "json": {
          "success": true,
          "message": "",
          "data": {
            "items": [
              {
                "companyId": 10596088,
                "companyName": "Triangular Group Intelligence",
                "companyUsername": "10596088",
                "companyURL": "https://www.linkedin.com/company/10596088/",
                "companyLogo": null,
                "title": "Information Technology Program Manager",
                "location": "",
                "locationType": "",
                "description": "",
                "employmentType": "Full-time",
                "skills": null,
                "linkedinHelpedGetJob": false,
                "start": {
                  "year": 2023,
                  "month": 1,
                  "day": 0
                },
                "end": {
                  "year": 0,
                  "month": 0,
                  "day": 0
                }
              },
              {
                "companyId": 2857644,
                "companyName": "Politie Nederland",
                "companyUsername": "2857644",
                "companyURL": "https://www.linkedin.com/company/2857644/",
                "companyLogo": [
                  {
                    "url": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_200_200/company-logo_200_200/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=5rRpp_HfQVPHGFaQZYMSdrUOS2du0bvyL4B8-VHKxUY",
                    "width": 200,
                    "height": 200
                  },
                  {
                    "url": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_100_100/company-logo_100_100/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=WLGsLKMTIV_3YbHw3_zs86xdjPCarPBVfcmSpGEsusc",
                    "width": 100,
                    "height": 100
                  },
                  {
                    "url": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_400_400/company-logo_400_400/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=xfDsaMxKDk2tPccSUX_WmAMK2FgFm_8zVOwGNTiSs8Y",
                    "width": 400,
                    "height": 400
                  }
                ],
                "title": "Product Owner data- and intelligence platforms",
                "location": "",
                "locationType": "",
                "description": "Product owner of three scrum teams that work on the three biggest search-based applications of the Dutch Police",
                "employmentType": "",
                "skills": null,
                "linkedinHelpedGetJob": false,
                "start": {
                  "year": 2021,
                  "month": 10,
                  "day": 0
                },
                "end": {
                  "year": 2022,
                  "month": 12,
                  "day": 0
                }
              },
              {
                "companyId": 2857644,
                "companyName": "Politie Nederland",
                "companyUsername": "2857644",
                "companyURL": "https://www.linkedin.com/company/2857644/",
                "companyLogo": [
                  {
                    "url": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_200_200/company-logo_200_200/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=5rRpp_HfQVPHGFaQZYMSdrUOS2du0bvyL4B8-VHKxUY",
                    "width": 200,
                    "height": 200
                  },
                  {
                    "url": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_100_100/company-logo_100_100/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=WLGsLKMTIV_3YbHw3_zs86xdjPCarPBVfcmSpGEsusc",
                    "width": 100,
                    "height": 100
                  },
                  {
                    "url": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_400_400/company-logo_400_400/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=xfDsaMxKDk2tPccSUX_WmAMK2FgFm_8zVOwGNTiSs8Y",
                    "width": 400,
                    "height": 400
                  }
                ],
                "title": "Project leader Innovative Cyber investigations",
                "location": "",
                "locationType": "",
                "description": "Initiating and directing new methods of tackling cybercrime",
                "employmentType": "",
                "skills": null,
                "linkedinHelpedGetJob": false,
                "start": {
                  "year": 2020,
                  "month": 1,
                  "day": 0
                },
                "end": {
                  "year": 2022,
                  "month": 12,
                  "day": 0
                }
              },
              {
                "companyId": 2857644,
                "companyName": "Politie Nederland",
                "companyUsername": "2857644",
                "companyURL": "https://www.linkedin.com/company/2857644/",
                "companyLogo": [
                  {
                    "url": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_200_200/company-logo_200_200/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=5rRpp_HfQVPHGFaQZYMSdrUOS2du0bvyL4B8-VHKxUY",
                    "width": 200,
                    "height": 200
                  },
                  {
                    "url": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_100_100/company-logo_100_100/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=WLGsLKMTIV_3YbHw3_zs86xdjPCarPBVfcmSpGEsusc",
                    "width": 100,
                    "height": 100
                  },
                  {
                    "url": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_400_400/company-logo_400_400/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=xfDsaMxKDk2tPccSUX_WmAMK2FgFm_8zVOwGNTiSs8Y",
                    "width": 400,
                    "height": 400
                  }
                ],
                "title": "Founder Cyber Crime Team - Politie Oost Nederland",
                "location": "",
                "locationType": "",
                "description": "Forming a multidisciplinary team of investigative-, intelligence- and technical specialists to effectively combat cybercrime",
                "employmentType": "",
                "skills": null,
                "linkedinHelpedGetJob": false,
                "start": {
                  "year": 2019,
                  "month": 7,
                  "day": 0
                },
                "end": {
                  "year": 2020,
                  "month": 12,
                  "day": 0
                }
              },
              {
                "companyId": 2857644,
                "companyName": "Politie Nederland",
                "companyUsername": "2857644",
                "companyURL": "https://www.linkedin.com/company/2857644/",
                "companyLogo": [
                  {
                    "url": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_200_200/company-logo_200_200/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=5rRpp_HfQVPHGFaQZYMSdrUOS2du0bvyL4B8-VHKxUY",
                    "width": 200,
                    "height": 200
                  },
                  {
                    "url": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_100_100/company-logo_100_100/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=WLGsLKMTIV_3YbHw3_zs86xdjPCarPBVfcmSpGEsusc",
                    "width": 100,
                    "height": 100
                  },
                  {
                    "url": "https://media.licdn.com/dms/image/v2/C4E0BAQH5t0BpB1pL4w/company-logo_400_400/company-logo_400_400/0/1675676475892/politie_nederland_logo?e=1754524800&v=beta&t=xfDsaMxKDk2tPccSUX_WmAMK2FgFm_8zVOwGNTiSs8Y",
                    "width": 400,
                    "height": 400
                  }
                ],
                "title": "Analyst Financial and Economic Crime",
                "location": "",
                "locationType": "",
                "description": "",
                "employmentType": "",
                "skills": null,
                "linkedinHelpedGetJob": false,
                "start": {
                  "year": 2016,
                  "month": 9,
                  "day": 0
                },
                "end": {
                  "year": 2019,
                  "month": 6,
                  "day": 0
                }
              },
              {
                "companyId": 0,
                "companyName": "Small Business",
                "companyUsername": "0",
                "companyURL": "",
                "companyLogo": null,
                "title": "Small Business Owner OSINT Tooling",
                "location": "Nijmegen, Gelderland, Netherlands",
                "locationType": "",
                "description": "Owner of a small business (~5 employees) that creates and develops online monitoring- and OSINT tooling.",
                "employmentType": "",
                "skills": null,
                "linkedinHelpedGetJob": false,
                "start": {
                  "year": 2021,
                  "month": 1,
                  "day": 0
                },
                "end": {
                  "year": 2022,
                  "month": 12,
                  "day": 0
                }
              },
              {
                "companyId": 1662761,
                "companyName": "Kronenburgh Beroepsopleidingen",
                "companyUsername": "1662761",
                "companyURL": "https://www.linkedin.com/company/1662761/",
                "companyLogo": [
                  {
                    "url": "https://media.licdn.com/dms/image/v2/C4D0BAQFL8cnjpnLQgA/company-logo_200_200/company-logo_200_200/0/1640764365850/kronenburgh_beroepsopleidingen_logo?e=1754524800&v=beta&t=IyA2oy-YNJSYtw21JH5rPL6ud6qw3tul4PQzMZxBx7w",
                    "width": 200,
                    "height": 200
                  },
                  {
                    "url": "https://media.licdn.com/dms/image/v2/C4D0BAQFL8cnjpnLQgA/company-logo_100_100/company-logo_100_100/0/1640764365850/kronenburgh_beroepsopleidingen_logo?e=1754524800&v=beta&t=e_-LIP0AdB55yILwdGSYjdm9I55SKm4OI4N40NhoMAk",
                    "width": 100,
                    "height": 100
                  },
                  {
                    "url": "https://media.licdn.com/dms/image/v2/C4D0BAQFL8cnjpnLQgA/company-logo_400_400/company-logo_400_400/0/1640764365850/kronenburgh_beroepsopleidingen_logo?e=1754524800&v=beta&t=S4XeYOXhwRiyX7zV6vPF7JWVqCTLNDn8UU4L6BABklU",
                    "width": 400,
                    "height": 400
                  }
                ],
                "title": "Member Of The Board Of Advisors",
                "location": "",
                "locationType": "",
                "description": "",
                "employmentType": "",
                "skills": null,
                "linkedinHelpedGetJob": false,
                "start": {
                  "year": 2010,
                  "month": 1,
                  "day": 0
                },
                "end": {
                  "year": 2019,
                  "month": 12,
                  "day": 0
                }
              },
              {
                "companyId": 0,
                "companyName": "Webstrength",
                "companyUsername": "0",
                "companyURL": "",
                "companyLogo": null,
                "title": "Business Owner FinTech company",
                "location": "",
                "locationType": "",
                "description": "Creating and developing online tooling and platforms that support entrepreneurs and small business owners, among which:\n\n- Flexify Online Bookkeeping, 500+ licenses sold\n- StartersPlatform, enabling students to build their business without the (administrative) hassle of having to deal with the Chamber of Commerce or VAT returns.",
                "employmentType": "",
                "skills": null,
                "linkedinHelpedGetJob": false,
                "start": {
                  "year": 2013,
                  "month": 1,
                  "day": 0
                },
                "end": {
                  "year": 2018,
                  "month": 12,
                  "day": 0
                }
              },
              {
                "companyId": 0,
                "companyName": "SMartNL",
                "companyUsername": "0",
                "companyURL": "",
                "companyLogo": null,
                "title": "Founding Board Member",
                "location": "Amsterdam",
                "locationType": "",
                "description": "SMartNL is a shared production house for creatives and projects providing administrative, financial and legal services. It is a part of a European group of SMart organisations with +65 000 users in 9 countries.",
                "employmentType": "",
                "skills": null,
                "linkedinHelpedGetJob": false,
                "start": {
                  "year": 2013,
                  "month": 1,
                  "day": 0
                },
                "end": {
                  "year": 2017,
                  "month": 6,
                  "day": 0
                }
              },
              {
                "companyId": 0,
                "companyName": "BRM Finance",
                "companyUsername": "0",
                "companyURL": "",
                "companyLogo": null,
                "title": "Business Owner",
                "location": "Amersfoort",
                "locationType": "",
                "description": "Consulting small and medium-sized enterprises regarding their taxes, financial reports and resource planning, and providing training and education to larger companies, among which \n- 'Legal Assistant' for the Dutch Immigration Service\n- 'Business Administrator' for Rabobank",
                "employmentType": "",
                "skills": null,
                "linkedinHelpedGetJob": false,
                "start": {
                  "year": 2008,
                  "month": 3,
                  "day": 0
                },
                "end": {
                  "year": 2013,
                  "month": 1,
                  "day": 0
                }
              },
              {
                "companyId": 1038,
                "companyName": "Deloitte Nederland",
                "companyUsername": "1038",
                "companyURL": "https://www.linkedin.com/company/1038/",
                "companyLogo": [
                  {
                    "url": "https://media.licdn.com/dms/image/v2/C560BAQGNtpblgQpJoQ/company-logo_200_200/company-logo_200_200/0/1662120928214/deloitte_logo?e=1754524800&v=beta&t=5AWN54cG4k2pFkG4zrcPAcN7UmWu-EJC5fD9H6pxJ7c",
                    "width": 200,
                    "height": 200
                  },
                  {
                    "url": "https://media.licdn.com/dms/image/v2/C560BAQGNtpblgQpJoQ/company-logo_100_100/company-logo_100_100/0/1662120928214/deloitte_logo?e=1754524800&v=beta&t=NZq6iAq5j7VXSEUT5AouHpIUoQS7TlJKjRJ7mHxaahM",
                    "width": 100,
                    "height": 100
                  },
                  {
                    "url": "https://media.licdn.com/dms/image/v2/C560BAQGNtpblgQpJoQ/company-logo_400_400/company-logo_400_400/0/1662120928214/deloitte_logo?e=1754524800&v=beta&t=ysZJFDdoeVCWNKQLQPo6OjGXn8U4Rf-LwUalQ7Nznew",
                    "width": 400,
                    "height": 400
                  }
                ],
                "title": "Tax Consultant",
                "location": "",
                "locationType": "",
                "description": "Tax consultant - generalist",
                "employmentType": "",
                "skills": null,
                "linkedinHelpedGetJob": false,
                "start": {
                  "year": 2007,
                  "month": 9,
                  "day": 0
                },
                "end": {
                  "year": 2008,
                  "month": 3,
                  "day": 0
                }
              }
            ]
          }
        }
      }
    ],
    "Getting a company domain name": [
      {
        "json": {
          "domain": "triangulargroup.com"
        }
      }
    ],
    "Website Contacts Scraper": [
      {
        "json": {
          "status": "OK",
          "request_id": "62ca6569-853c-4c5a-bd93-94fc74abebea",
          "data": [
            {
              "domain": "triangulargroup.com",
              "query": "triangulargroup.com",
              "emails": [
                {
                  "value": "support@triangulargroup.com",
                  "sources": [
                    "https://www.triangulargroup.com/en/team",
                    "https://www.triangulargroup.com/en/contact-1",
                    "https://www.triangulargroup.com/en/triangular-group-news-stories/news",
                    "https://www.triangulargroup.com/media/gbhpfqlp/privacyverklaring-persoonsgegevens-sollicitanten-1.pdf",
                    "https://www.triangulargroup.com/en/triangular-group-news-stories/media",
                    "https://www.triangulargroup.com/services/contact",
                    "https://www.triangulargroup.com/en/team/jack-van-den-buijs",
                    "https://www.triangulargroup.com/en/team/danny-ossendrijver",
                    "https://www.triangulargroup.com/en/team/ingo-heijnen",
                    "https://www.triangulargroup.com/contact-1",
                    "https://www.triangulargroup.com/en/insights/content/all-source-stakeholder-mapping",
                    "https://www.triangulargroup.com/leadership/over-ons",
                    "https://www.triangulargroup.com/triangular-group-in-het-nieuws",
                    "https://www.triangulargroup.com/services/over-ons",
                    "https://www.triangulargroup.com/triangular-group-in-het-nieuws/media",
                    "https://www.triangulargroup.com/in-het-kort",
                    "https://www.triangulargroup.com/academy/opleidingen",
                    "https://www.triangulargroup.com/leadership/programmas/inner-leader-2-dagen",
                    "https://www.triangulargroup.com/en/services/contact",
                    "https://www.triangulargroup.com/en",
                    "https://www.triangulargroup.com"
                  ]
                }
              ],
              "phone_numbers": [
                {
                  "value": "310208208",
                  "sources": [
                    "https://www.triangulargroup.com/en/services/contact",
                    "https://www.triangulargroup.com/en/contact-1",
                    "https://www.triangulargroup.com/en/leadership/about-us",
                    "https://www.triangulargroup.com/en/triangular-group-news-stories",
                    "https://www.triangulargroup.com/en/insights/content/market-entry-support",
                    "https://www.triangulargroup.com/en",
                    "https://www.triangulargroup.com/en/insights/about-tgi",
                    "https://www.triangulargroup.com/en/triangular-group-news-stories/news",
                    "https://www.triangulargroup.com/en/team/jack-van-den-buijs",
                    "https://www.triangulargroup.com/en/team/sander-kokken",
                    "https://www.triangulargroup.com/insights/contact"
                  ]
                },
                {
                  "value": "67813844",
                  "sources": [
                    "https://www.triangulargroup.com/en/services/contact",
                    "https://www.triangulargroup.com/en/contact-1",
                    "https://www.triangulargroup.com/en/leadership/about-us",
                    "https://www.triangulargroup.com/en/triangular-group-news-stories",
                    "https://www.triangulargroup.com/en/insights/content/market-entry-support",
                    "https://www.triangulargroup.com/en",
                    "https://www.triangulargroup.com/en/insights/about-tgi",
                    "https://www.triangulargroup.com/en/triangular-group-news-stories/news",
                    "https://www.triangulargroup.com/en/team/jack-van-den-buijs",
                    "https://www.triangulargroup.com/en/team/sander-kokken"
                  ]
                },
                {
                  "value": "33354726",
                  "sources": [
                    "https://www.triangulargroup.com/en/services/contact",
                    "https://www.triangulargroup.com/en/triangular-group-news-stories/news",
                    "https://www.triangulargroup.com/insights/contact",
                    "https://www.triangulargroup.com/en/insights/about-tgi",
                    "https://www.triangulargroup.com/en"
                  ]
                }
              ],
              "facebook": "https://www.facebook.com/triangulargroupacademy",
              "instagram": "https://www.instagram.com/triangulargroupbv",
              "tiktok": null,
              "snapchat": null,
              "twitter": "https://twitter.com/GroupTriangular",
              "linkedin": null,
              "github": null,
              "youtube": null,
              "pinterest": null
            }
          ]
        }
      }
    ],
    "Whois API": [
      {
        "json": {
          "result": {
            "domain": "triangulargroup.com",
            "records": {
              "A": [
                "104.19.191.28"
              ],
              "MX": [
                {
                  "preference": 0,
                  "exchange": "triangulargroup-com.mail.protection.outlook.com."
                }
              ],
              "NS": [
                "ns04.2is.be.",
                "ns05.2is.nl.",
                "ns03.2is.nl."
              ],
              "SOA": [
                {
                  "mname": "ns03.2is.nl.",
                  "rname": "domain-admin.2is.nl.",
                  "serial": 2025060501,
                  "refresh": 14400,
                  "retry": 3600,
                  "expire": 1209600,
                  "minimum": 3600
                }
              ],
              "TXT": [
                "\"apple-domain-verification=zho0aAGqSUwxvpJM\"",
                "\"MS=ms38755204\"",
                "\"globalsign-domain-verification=jFxBQPFwtwXJMlrjIsOeRTw_YjXTeIrz2UL2ujBSzN\"",
                "\"v=spf1 include:spf.protection.outlook.com include:spf.antispamcloud.com include:spf.mailjet.com -all\"",
                "\"google-site-verification=Vw006XXl8YN_ZlEotXnJXVIvZTQvCNu0slgtNS58D9U\""
              ]
            }
          }
        }
      }
    ],
    "Twitter User info": [
      {
        "json": {
          "status": "active",
          "profile": "Roderick_Looijs",
          "rest_id": "240714183",
          "blue_verified": false,
          "affiliates": [],
          "business_account": [],
          "avatar": "https://pbs.twimg.com/profile_images/3086685259/93c92e73adb057d7f4965dfc30a07520_normal.jpeg",
          "header_image": null,
          "desc": "",
          "name": "Roderick Looijs",
          "protected": null,
          "location": "",
          "friends": 2,
          "sub_count": 11,
          "statuses_count": 0,
          "media_count": 0,
          "pinned_tweet_ids_str": [],
          "created_at": "Thu Jan 20 15:33:11 +0000 2011",
          "id": "240714183"
        }
      }
    ],
    "Twitter User info1": [
      {
        "json": {
          "following": [
            {
              "user_id": "143472359",
              "screen_name": "JelleAlthuizen",
              "description": "Leadgeneratie - Online marketing - Webdeveopment - Analytics & AdWords certified @leadbouwers - duiken & wielrennen",
              "profile_image": "https://pbs.twimg.com/profile_images/634451259777523712/y_mReg6w_normal.jpg",
              "statuses_count": 1403,
              "followers_count": 795,
              "friends_count": 1835,
              "media_count": 64,
              "name": "Jelle Althuizen"
            },
            {
              "user_id": "214006647",
              "screen_name": "janmartenbosman",
              "description": "",
              "profile_image": "https://pbs.twimg.com/profile_images/1186323424/jm_bewerkt_200px_normal.jpg",
              "statuses_count": 7,
              "followers_count": 56,
              "friends_count": 85,
              "media_count": 0,
              "name": "Jan-Marten Bosman"
            }
          ],
          "status": "ok",
          "more_users": false
        }
      }
    ],
    "Twitter Followers": [
      {
        "json": {
          "followers_count": 11,
          "followers": [
            {
              "user_id": "3673318456",
              "screen_name": "IFFCNL",
              "description": "Network of Stakeholders preventing and combating Financial Economic Crime | Research & Innovation | Knowledge Exchange | Events",
              "profile_image": "https://pbs.twimg.com/profile_images/1232945761421230082/rB7_9uah_normal.jpg",
              "statuses_count": 1370,
              "followers_count": 250,
              "friends_count": 337,
              "media_count": 872,
              "created_at": "Wed Sep 16 09:15:30 +0000 2015",
              "location": "The Hague, The Netherlands",
              "blue_verified": false,
              "verified": null,
              "website": "http://www.iffc.nl",
              "name": "IFFC - Institute for Financial Crime",
              "affiliates": null,
              "business_account": false
            },
            {
              "user_id": "702123529676922880",
              "screen_name": "FloorCornelisse",
              "description": "",
              "profile_image": "https://pbs.twimg.com/profile_images/702125893905424384/wnxaCnDo_normal.jpg",
              "statuses_count": 0,
              "followers_count": 45,
              "friends_count": 115,
              "media_count": 0,
              "created_at": "Tue Feb 23 13:31:09 +0000 2016",
              "location": "",
              "blue_verified": false,
              "verified": null,
              "website": null,
              "name": "Floor M. Cornelisse",
              "affiliates": null,
              "business_account": false
            },
            {
              "user_id": "18405323",
              "screen_name": "Dutchp4t",
              "description": "A Techgourmet! | Infrastructure Design | Social Media | Politics | European | Information Architecture | Photography | Cloud",
              "profile_image": "https://pbs.twimg.com/profile_images/1563201798537707521/B-vXEtAk_normal.jpg",
              "statuses_count": 13135,
              "followers_count": 503,
              "friends_count": 1135,
              "media_count": 674,
              "created_at": "Sat Dec 27 09:06:00 +0000 2008",
              "location": "Amsterdam, NL, Europe",
              "blue_verified": false,
              "verified": null,
              "website": "http://techgourmet.net/blog",
              "name": "Roy vd Linden",
              "affiliates": null,
              "business_account": false
            },
            {
              "user_id": "2983495911",
              "screen_name": "FLooijs",
              "description": "",
              "profile_image": "https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png",
              "statuses_count": 15,
              "followers_count": 1,
              "friends_count": 19,
              "media_count": 0,
              "created_at": "Sun Jan 18 04:55:09 +0000 2015",
              "location": "",
              "blue_verified": false,
              "verified": null,
              "website": null,
              "name": "femke looijs",
              "affiliates": null,
              "business_account": false
            },
            {
              "user_id": "96847798",
              "screen_name": "roelmasselink",
              "description": "directeur Klantenservice Federatie | voorzitter @StichtingAdR | sociaal-liberaal | Utrecht |tweets op persoonlijke titel",
              "profile_image": "https://pbs.twimg.com/profile_images/1247625541315899402/S6VbbOIC_normal.png",
              "statuses_count": 2821,
              "followers_count": 906,
              "friends_count": 981,
              "media_count": 187,
              "created_at": "Mon Dec 14 21:46:28 +0000 2009",
              "location": "Utrecht",
              "blue_verified": false,
              "verified": null,
              "website": "https://klantenservicefederatie.nl",
              "name": "R⭕️el Masselink",
              "affiliates": null,
              "business_account": false
            },
            {
              "user_id": "29528884",
              "screen_name": "Jeroenover",
              "description": "",
              "profile_image": "https://pbs.twimg.com/profile_images/827563352528392192/d284sMU6_normal.jpg",
              "statuses_count": 527,
              "followers_count": 732,
              "friends_count": 1924,
              "media_count": 16,
              "created_at": "Tue Apr 07 19:59:24 +0000 2009",
              "location": "Amersfoort",
              "blue_verified": false,
              "verified": null,
              "website": "http://www.hypotheekbond.nl",
              "name": "Jeroen Oversteegen",
              "affiliates": null,
              "business_account": false
            },
            {
              "user_id": "2788131140",
              "screen_name": "AartWillem83",
              "description": "Gevoelsmens * Denker en dromer * Voetbal * Gorinchem * Ukomst.BV * Tapas * Levensgenieter * Sporter * Utrecht * Actualiteiten * Speciaalbier",
              "profile_image": "https://pbs.twimg.com/profile_images/507190592317579264/hdNigTau_normal.jpeg",
              "statuses_count": 166,
              "followers_count": 71,
              "friends_count": 210,
              "media_count": 0,
              "created_at": "Wed Sep 03 15:14:16 +0000 2014",
              "location": "Gorinchem",
              "blue_verified": false,
              "verified": null,
              "website": "http://www.ukomst.nl",
              "name": "Aart-Willem de Peute",
              "affiliates": null,
              "business_account": false
            },
            {
              "user_id": "23802893",
              "screen_name": "nielsmulder",
              "description": "PHP ontwikkelaar via mijn bedrijf Apps4weB.",
              "profile_image": "https://pbs.twimg.com/profile_images/1149322498/niels03_normal.jpg",
              "statuses_count": 133,
              "followers_count": 49,
              "friends_count": 66,
              "media_count": 1,
              "created_at": "Wed Mar 11 18:22:51 +0000 2009",
              "location": "Rotterdam",
              "blue_verified": false,
              "verified": null,
              "website": "http://www.apps4web.nl",
              "name": "niels",
              "affiliates": null,
              "business_account": false
            },
            {
              "user_id": "143472359",
              "screen_name": "JelleAlthuizen",
              "description": "Leadgeneratie - Online marketing - Webdeveopment - Analytics & AdWords certified @leadbouwers - duiken & wielrennen",
              "profile_image": "https://pbs.twimg.com/profile_images/634451259777523712/y_mReg6w_normal.jpg",
              "statuses_count": 1403,
              "followers_count": 795,
              "friends_count": 1835,
              "media_count": 64,
              "created_at": "Thu May 13 15:17:06 +0000 2010",
              "location": "Nijmegen",
              "blue_verified": false,
              "verified": null,
              "website": "http://www.leadbouwers.nl",
              "name": "Jelle Althuizen",
              "affiliates": null,
              "business_account": false
            },
            {
              "user_id": "707196217",
              "screen_name": "MichellevanToor",
              "description": "SOCIAAL Ondernemen | YOGA | @hubspotleiden | Impact | DOEN !",
              "profile_image": "https://pbs.twimg.com/profile_images/549338096722903040/vHBVewzv_normal.jpeg",
              "statuses_count": 58,
              "followers_count": 53,
              "friends_count": 64,
              "media_count": 8,
              "created_at": "Fri Jul 20 14:05:46 +0000 2012",
              "location": "",
              "blue_verified": false,
              "verified": null,
              "website": null,
              "name": "Michelle van Toor",
              "affiliates": null,
              "business_account": false
            },
            {
              "user_id": "296358323",
              "screen_name": "vrwit73",
              "description": "",
              "profile_image": "https://pbs.twimg.com/profile_images/2846060474/449abefc0b657e1ed35f35cea129a08e_normal.jpeg",
              "statuses_count": 2,
              "followers_count": 6,
              "friends_count": 45,
              "media_count": 0,
              "created_at": "Tue May 10 16:36:42 +0000 2011",
              "location": "almere",
              "blue_verified": false,
              "verified": null,
              "website": null,
              "name": "vincent de wit",
              "affiliates": null,
              "business_account": false
            }
          ],
          "status": "ok",
          "more_users": false
        }
      }
    ],
    "Twitter affiliates": [
      {
        "json": {
          "affilates": [],
          "next_cursor": null
        }
      }
    ],
    "Twitter User replies": [
      {
        "json": {
          "timeline": [],
          "next_cursor": null,
          "user": {
            "status": "active",
            "profile": "Roderick_Looijs",
            "rest_id": "240714183",
            "blue_verified": false,
            "affiliates": [],
            "business_account": [],
            "avatar": "https://pbs.twimg.com/profile_images/3086685259/93c92e73adb057d7f4965dfc30a07520_normal.jpeg",
            "header_image": null,
            "desc": "",
            "name": "Roderick Looijs",
            "protected": null,
            "location": "",
            "friends": 2,
            "sub_count": 11,
            "statuses_count": 0,
            "media_count": 0,
            "created_at": "Thu Jan 20 15:33:11 +0000 2011",
            "pinned_tweet_ids_str": [],
            "id": "240714183"
          }
        }
      }
    ],
    "Social Links Search Person1": [
      {
        "json": {
          "status": "OK",
          "request_id": "8cf35336-3452-4ddd-9c73-1d7117f63a22",
          "data": {
            "facebook": [],
            "instagram": [
              "https://www.instagram.com/roderickloo",
              "https://www.instagram.com/roderick_low"
            ],
            "twitter": [
              "https://twitter.com/roderick_looijs"
            ],
            "linkedin": [
              "https://www.linkedin.com/in/rodericklow",
              "https://www.linkedin.com/in/roderick-moodie"
            ],
            "github": [],
            "youtube": [
              "https://www.youtube.com/channel/UCGiDe65JWLeBcvJ4qhQjDfA",
              "https://www.youtube.com/channel/UCdcKKk6WgDA-3w8fa0BpRlw"
            ],
            "pinterest": [],
            "tiktok": [],
            "snapchat": []
          }
        }
      }
    ],
    "OSINT | Phone, eMail & Names - Search Everything !": [
      {
        "json": {
          "List": {
            "Apollo": {
              "Data": [
                {
                  "City": "Utrecht",
                  "Country": "Netherlands",
                  "FullName": "Roderick Looijs",
                  "ID": "54a5c41d74686936766436a6",
                  "JobStartDate": "2010-01-01",
                  "LinkedinURL": "http://www.linkedin.com/in/rodericklooijs",
                  "PostCode": "3512 BR",
                  "State": "Utrecht",
                  "Title": "Lid Raad van Advies",
                  "Work": "lid raad van advies"
                }
              ],
              "InfoLeak": "In July 2018, startup Apollo left behind a database containing billions of rows. Among them were 126 million unique email addresses, as well as names, places of work, roles of people and their locations.",
              "NumOfResults": 1
            },
            "LinkedIn Scraped Data": {
              "Data": [
                {
                  "CompanyName": "marfield",
                  "Continent": "europe",
                  "Country": "netherlands",
                  "Email": "r.looijs@brmfinance.nl",
                  "FullName": "roderick looijs",
                  "Gender": "male",
                  "GeoLocation": "52.09,5.11",
                  "Industry": "financial services",
                  "JobCompanyName": "flexify",
                  "JobStartDate": "2013-01-01",
                  "JobTitle": "eigenaar",
                  "LinkedinID": "28149093",
                  "Locality": "utrecht",
                  "Location": "utrecht",
                  "LoginCount": "353",
                  "Region": "utrecht, netherlands",
                  "Skills": "online bookkeeping,international tax,tax law,tax,dutch,tax advisory,corporate tax,vat,income tax,ict",
                  "Summary": "Online Bookkeeping; International Tax; Tax Law; Tax; Dutch; Tax Advisory; Corporate Tax; VAT ... Managing director of BIOCULT bv; Володина Татьяна",
                  "Title": "belastingadviseur - eigenaar",
                  "UserName": "rodericklooijs"
                }
              ],
              "InfoLeak": "During the first half of 2021, LinkedIn became a target for attackers who extracted data from hundreds of millions of profiles and then sold it online. This was not a leak and only publicly available information was collected. The 1.5 terabyte file contained 400 million records and 100 million unique emails, as well as the names, locations, gender and positions of users.",
              "NumOfResults": 1
            },
            "Neteller": {
              "Data": [
                {
                  "BDay": "21-Aug-1984",
                  "Email": "denktank@gmail.com",
                  "FullName": "LOOIJS Roderick Looijs",
                  "IP": "84.85.139.39",
                  "SuffixName": "Mr.  "
                }
              ],
              "InfoLeak": "In May 2010, the Neteller e-wallet service suffered from a data leak that affected more than 3.6 million customers. The leak was not discovered until October 2015 and involved names, email addresses, home addresses and account balances.",
              "NumOfResults": 1
            },
            "PeopleDataLabs": {
              "Data": [
                {
                  "Address": "utrecht, utrecht, netherlands",
                  "Email": "r.looijs@brmfinance.nl",
                  "FullName": "roderick looijs"
                }
              ],
              "InfoLeak": "In October 2019, a server was discovered with 12 billion personal data records. They belonged to the data enrichment company PeopleDataLabs. 622 million mail, telephones and places of work were affected.",
              "NumOfResults": 1
            }
          },
          "NumOfDatabase": 4,
          "NumOfResults": 4,
          "search time": 0.3124762
        }
      }
    ],
    "OSINT | Phone, eMail & Names - Search Everything !1  Company": [
      {
        "json": {
          "List": {
            "Apollo": {
              "Data": [
                {
                  "CompanyName": "Triangular Group Intelligence",
                  "ID": "57e030c6a6da985f04c623a3"
                }
              ],
              "InfoLeak": "In July 2018, startup Apollo left behind a database containing billions of rows. Among them were 126 million unique email addresses, as well as names, places of work, roles of people and their locations.",
              "NumOfResults": 1
            },
            "Bureau van Dijk": {
              "Data": [
                {
                  "City": "SCHIEDAM",
                  "Country": "Netherlands",
                  "CountryCode": "NL",
                  "Description": "Triangular Group Academy B.V.",
                  "FullName": "TRIANGULAR GROUP ACADEMY B.V.",
                  "Latitude": "51.906",
                  "Longitude": "4.372",
                  "Nationality": "NL",
                  "PostCode": "3115 JD",
                  "Region": "Zuid-Holland|Schiedam",
                  "Street": "Karel Doormanweg 9 D",
                  "TIN_Code": "857183850",
                  "VAT_Code": "NL857183850B01"
                },
                {
                  "Country": "Netherlands",
                  "CountryCode": "NL",
                  "FullName": "Triangular Group B.V.",
                  "JobTitle": "Bestuurder",
                  "Relationship": "Currently works for (Bestuurder)"
                },
                {
                  "Country": "Netherlands",
                  "CountryCode": "NL",
                  "FullName": "Triangular Group B.V.",
                  "JobTitle": "Director",
                  "Relationship": "Currently works for (Director)"
                },
                {
                  "Country": "Netherlands",
                  "CountryCode": "NL",
                  "FullName": "Triangular Group B.V.",
                  "JobTitle": "Director",
                  "Relationship": "Previously worked for (Director)"
                },
                {
                  "Address": "Karel Doormanweg 9 D",
                  "City": "Schiedam",
                  "Country": "Netherlands",
                  "CountryCode": "NL",
                  "FullName": "Triangular Group B.V.",
                  "Latitude": "51.906",
                  "Longitude": "4.372",
                  "Nationality": "NL",
                  "PostCode": "3115 JD",
                  "Region": "Zuid-Holland|Schiedam",
                  "Site": "www.triangular-group.com",
                  "TIN-Code": "853802488",
                  "VAT number": "NL853802488B01"
                },
                {
                  "Address": "Karel Doormanweg 9 D",
                  "City": "Schiedam",
                  "Country": "Netherlands",
                  "CountryCode": "NL",
                  "FullName": "Triangular Group B.V.",
                  "Latitude": "51.906",
                  "Longitude": "4.372",
                  "Nationality": "NL",
                  "PostCode": "3115 JD",
                  "Region": "Zuid-Holland|Schiedam",
                  "Relationship": "Currently works for (Bestuurder)",
                  "Site": "www.triangular-group.com",
                  "TIN-Code": "853802488",
                  "VAT number": "NL853802488B01"
                },
                {
                  "Address": "Karel Doormanweg 9 D",
                  "City": "Schiedam",
                  "Country": "Netherlands",
                  "CountryCode": "NL",
                  "FullName": "Triangular Group B.V.",
                  "Latitude": "51.906",
                  "Longitude": "4.372",
                  "Nationality": "NL",
                  "PostCode": "3115 JD",
                  "Region": "Zuid-Holland|Schiedam",
                  "Relationship": "Currently works for (Director)",
                  "Site": "www.triangular-group.com",
                  "TIN-Code": "853802488",
                  "VAT number": "NL853802488B01"
                },
                {
                  "Address": "Karel Doormanweg 9 D",
                  "City": "Schiedam",
                  "Country": "Netherlands",
                  "CountryCode": "NL",
                  "FullName": "Triangular Group B.V.",
                  "Latitude": "51.906",
                  "Longitude": "4.372",
                  "Nationality": "NL",
                  "PostCode": "3115 JD",
                  "Region": "Zuid-Holland|Schiedam",
                  "Relationship": "Previously worked for (Bestuurder)",
                  "Site": "www.triangular-group.com",
                  "TIN-Code": "853802488",
                  "VAT number": "NL853802488B01"
                },
                {
                  "Address": "Karel Doormanweg 9 D",
                  "City": "Schiedam",
                  "Country": "Netherlands",
                  "CountryCode": "NL",
                  "FullName": "Triangular Group B.V.",
                  "Latitude": "51.906",
                  "Longitude": "4.372",
                  "Nationality": "NL",
                  "PostCode": "3115 JD",
                  "Region": "Zuid-Holland|Schiedam",
                  "Relationship": "Previously worked for (Director)",
                  "Site": "www.triangular-group.com",
                  "TIN-Code": "853802488",
                  "VAT number": "NL853802488B01"
                },
                {
                  "City": "Schiedam",
                  "Country": "Netherlands",
                  "CountryCode": "NL",
                  "FullName": "Triangular Group Information Services and Networking B.V.",
                  "Latitude": "51.906",
                  "Longitude": "4.372",
                  "Phone": "+31 208208207",
                  "PostCode": "3115 JD",
                  "Site": "www.tgint.net"
                },
                {
                  "Address": "Karel Doormanweg 9 D",
                  "City": "Schiedam",
                  "Country": "Netherlands",
                  "CountryCode": "NL",
                  "FullName": "Triangular Group Information Services and Networking B.V.",
                  "Latitude": "51.906",
                  "Longitude": "4.372",
                  "Nationality": "NL",
                  "Phone": "+31 208208207",
                  "PostCode": "3115 JD",
                  "Region": "Zuid-Holland|Schiedam",
                  "Relationship": "Currently works for (Director)",
                  "Site": "www.tgint.net",
                  "TIN-Code": "853814867",
                  "VAT number": "NL853814867B01"
                },
                {
                  "Address": "Karel Doormanweg 9 D",
                  "City": "Schiedam",
                  "Country": "Netherlands",
                  "CountryCode": "NL",
                  "FullName": "Triangular Group Information Services and Networking B.V.",
                  "Latitude": "51.906",
                  "Longitude": "4.372",
                  "Nationality": "NL",
                  "Phone": "+31 208208207",
                  "PostCode": "3115 JD",
                  "Region": "Zuid-Holland|Schiedam",
                  "Relationship": "Currently works for (Proxy)",
                  "Site": "www.tgint.net",
                  "TIN-Code": "853814867",
                  "VAT number": "NL853814867B01"
                },
                {
                  "City": "Schiedam",
                  "Country": "Netherlands",
                  "CountryCode": "NL",
                  "FullName": "Triangular Group Information Services and Networking B.V.",
                  "Latitude": "51.906",
                  "Longitude": "4.372",
                  "Nationality": "NL",
                  "Phone": "+31 208208207",
                  "PostCode": "3115 JD",
                  "Region": "Zuid-Holland|Schiedam",
                  "Site": "www.tgint.net",
                  "Street": "Karel Doormanweg 9 D",
                  "TIN_Code": "853814867",
                  "VAT_Code": "NL853814867B01"
                },
                {
                  "City": "SCHIEDAM",
                  "Country": "Netherlands",
                  "CountryCode": "NL",
                  "Description": "Triangular Group Information Services and Networking B.V.",
                  "FullName": "TRIANGULAR GROUP INFORMATION SERVICES AND NETWORKING B.V.",
                  "Latitude": "51.906",
                  "Longitude": "4.372",
                  "Nationality": "NL",
                  "Phone": "+31 208208207",
                  "PostCode": "3115 JD",
                  "Region": "Zuid-Holland|Schiedam",
                  "Site": "www.tgint.net",
                  "Street": "Karel Doormanweg 9 D",
                  "TIN_Code": "853814867",
                  "VAT_Code": "NL853814867B01"
                }
              ],
              "InfoLeak": "Around July 2021, Bureau van Dijk, a business information publisher specializing in “private company data,” suffered a data breach. The breach included full names, email addresses, phone numbers, physical addresses, dates of birth, job titles, European VAT numbers, tax numbers, patent numbers, patent names, company names, and other data. A total of 484 million rows of data.",
              "NumOfResults": 14
            },
            "Fling": {
              "Data": [
                {
                  "BDay": "1981-03-25",
                  "Email": "catito_12@hotmail.com",
                  "Gender": "WOMAN",
                  "Hobby": "FETISHGROUPSEXSEXUAL RELATIONSONLINE FLIRTINGOTHER",
                  "IP": "189.30.225.17",
                  "Interested": "WOMAN",
                  "LastLogin": "2009-08-19 13:55:43",
                  "NickName": "Triangular",
                  "Password": "22448866",
                  "RegDate": "2009-08-19 13:55:40"
                },
                {
                  "BDay": "1975-01-11",
                  "Email": "rodri_master97@hotmail.com.ar",
                  "Gender": "MAN",
                  "Hobby": "FETISHGROUPSEXSEXUAL RELATIONSONLINE FLIRTINGOTHER",
                  "IP": "186.56.216.22",
                  "Interested": "WOMAN",
                  "LastLogin": "2010-12-29 15:08:31",
                  "NickName": "rodri 2010",
                  "Password": "triangular 10",
                  "RegDate": "2010-11-14 22:21:13"
                },
                {
                  "BDay": "1984-01-03",
                  "Email": "bhartman9503@gmail.com",
                  "Gender": "MAN",
                  "Hobby": "FETISHGROUPSEXSEXUAL RELATIONSONLINE FLIRTINGOTHER",
                  "IP": "97.153.10.104",
                  "Interested": "WOMAN",
                  "LastLogin": "2010-09-03 12:18:38",
                  "NickName": "hartface",
                  "Password": "triangular0420",
                  "RegDate": "2010-09-03 12:18:37"
                },
                {
                  "BDay": "1973-04-16",
                  "Email": "kokotsso@hotmail.com",
                  "Gender": "MAN",
                  "Hobby": "FETISHGROUPSEXSEXUAL RELATIONSONLINE FLIRTINGOTHER",
                  "IP": "190.40.240.170",
                  "Interested": "COUPLEWOMAN",
                  "LastLogin": "2010-04-24 06:35:57",
                  "NickName": "himanol",
                  "Password": "triangular07",
                  "RegDate": "2010-02-16 23:28:05"
                },
                {
                  "BDay": "1981-04-24",
                  "Email": "sean.mcdermott1@hotmail.com",
                  "Gender": "MAN",
                  "Hobby": "FETISHGROUPSEXSEXUAL RELATIONSONLINE FLIRTINGOTHER",
                  "IP": "121.55.219.77",
                  "Interested": "COUPLEMANWOMANTS",
                  "LastLogin": "2010-03-27 07:35:25",
                  "NickName": "MacD303",
                  "Password": "triangular1",
                  "RegDate": "2010-03-27 07:35:24"
                },
                {
                  "BDay": "1969-01-25",
                  "Email": "triangular69@yahoo.com",
                  "Gender": "MAN",
                  "Hobby": "FETISHGROUPSEXSEXUAL RELATIONSONLINE FLIRTINGOTHER",
                  "IP": "76.191.203.25",
                  "Interested": "COUPLEMANWOMANTS",
                  "LastLogin": "2010-02-26 22:57:11",
                  "NickName": "triangleme69",
                  "Password": "hellokitty1.1",
                  "RegDate": "2009-12-15 01:09:43"
                },
                {
                  "BDay": "1977-01-08",
                  "Email": "pablito-del2000@hotmail.com",
                  "Gender": "MAN",
                  "Hobby": "FETISHGROUPSEXSEXUAL RELATIONSONLINE FLIRTINGOTHER",
                  "IP": "186.56.208.59",
                  "Interested": "WOMAN",
                  "LastLogin": "2010-12-22 16:47:01",
                  "NickName": "pablo fontana",
                  "Password": "triangular97",
                  "RegDate": "2010-12-22 16:46:59"
                },
                {
                  "BDay": "1979-01-08",
                  "Email": "rodri_master97@hotmail.com",
                  "Gender": "MAN",
                  "Hobby": "FETISHGROUPSEXSEXUAL RELATIONSONLINE FLIRTINGOTHER",
                  "IP": "186.56.208.59",
                  "Interested": "WOMAN",
                  "LastLogin": "2010-12-22 16:30:31",
                  "NickName": "pablito fontana",
                  "Password": "triangular97",
                  "RegDate": "2010-12-22 16:29:34"
                },
                {
                  "BDay": "1952-05-10",
                  "Email": "triangular@mixmail.com",
                  "Gender": "MAN",
                  "Hobby": "FETISHGROUPSEXSEXUAL RELATIONSONLINE FLIRTINGOTHER",
                  "IP": "95.16.19.252",
                  "Interested": "WOMAN",
                  "LastLogin": "2010-04-03 12:20:42",
                  "NickName": "jazbuscon",
                  "Password": "faceoptalidon2",
                  "RegDate": "2010-04-03 12:20:41"
                },
                {
                  "BDay": "1910-07-27",
                  "Email": "triangular_guy@yahoo.com",
                  "Gender": "MAN",
                  "Hobby": "FETISHGROUPSEXONLINE FLIRTINGOTHER",
                  "IP": "12.164.196.100",
                  "Interested": "WOMAN",
                  "LastLogin": "2010-10-07 17:08:55",
                  "NickName": "triangular_guy35",
                  "Password": "july82534",
                  "RegDate": "2010-10-07 17:08:55"
                },
                {
                  "BDay": "1986-09-14",
                  "Email": "lentefore@gmail.com",
                  "Gender": "MAN",
                  "Hobby": "FETISHGROUPSEXSEXUAL RELATIONSONLINE FLIRTINGOTHER",
                  "IP": "98.221.197.235",
                  "Interested": "COUPLEMANWOMANTS",
                  "LastLogin": "2010-05-20 22:02:45",
                  "NickName": "triangularlover",
                  "Password": "love1234",
                  "RegDate": "2010-05-20 20:37:38"
                },
                {
                  "BDay": "1979-01-01",
                  "Email": "triangularnumbers@yahoo.com",
                  "Gender": "MAN",
                  "Hobby": "FETISHGROUPSEXSEXUAL RELATIONSONLINE FLIRTINGOTHER",
                  "IP": "72.197.116.27",
                  "Interested": "WOMAN",
                  "LastLogin": "2009-07-28 16:58:10",
                  "NickName": "triangularnumbers",
                  "Password": "0ifh309vf3h",
                  "RegDate": "2009-07-25 02:29:27"
                },
                {
                  "BDay": "1952-01-05",
                  "Email": "dimsot5@gmail.com",
                  "Gender": "MAN",
                  "Hobby": "FETISHGROUPSEXSEXUAL RELATIONSONLINE FLIRTINGOTHER",
                  "IP": "94.64.85.105",
                  "Interested": "WOMAN",
                  "LastLogin": "2010-03-25 13:57:15",
                  "NickName": "triangularsimple",
                  "Password": "eru294",
                  "RegDate": "2010-03-25 06:04:27"
                }
              ],
              "InfoLeak": "In 2011, the adult social network Fling was hacked. 40 million accounts were exposed. The leak included personal data, as well as email addresses and passwords stored in plain text.",
              "NumOfResults": 13
            },
            "Ixigo": {
              "Data": [
                {
                  "Email": "jrcgupta@gmail.com",
                  "FullName": "Triangular Group Triangular Group",
                  "Gender": "male",
                  "NickName": "100326641633551490219"
                }
              ],
              "InfoLeak": "In January 2019, the travel and hotel booking website ixigo suffered a leak. The data appeared for sale on the darknet market the following month and included more than 17 million unique email addresses. They also contained names, gender, telephone numbers, connections to Facebook profiles and passwords in the form of MD5 hashes.",
              "NumOfResults": 1
            },
            "LinkedIn Scraped Data": {
              "Data": [
                {
                  "CompanyName": "triangular food group",
                  "Continent": "north america",
                  "Country": "united states",
                  "FirstName": "jamie",
                  "GeoLocation": "33.68,-78.88",
                  "JobCompanyName": "triangular food group",
                  "JobStartDate": "2018-05",
                  "JobTitle": "company owner",
                  "LastName": "soles",
                  "Locality": "myrtle beach",
                  "Location": "south carolina",
                  "Region": "south carolina, united states",
                  "Title": "company owner"
                },
                {
                  "CompanyName": "triangular group",
                  "Continent": "europe",
                  "Country": "netherlands",
                  "Email": "nwsiemons@gmail.com",
                  "FirstName": "nienke",
                  "GeoLocation": "52.27,4.97",
                  "Industry": "education management",
                  "JobCompanyName": "stichting zaam, interconfessioneel voortgezet onderwijs",
                  "JobStartDate": "2016-12",
                  "JobTitle": "coÃ rdinator communicatie and public relations",
                  "LastName": "siemons",
                  "LinkedinID": "20877059",
                  "Locality": "abcoude",
                  "Location": "utrecht",
                  "LoginCount": "860",
                  "Region": "utrecht, netherlands",
                  "Skills": "marketing,marketing communications,brochures,corporate communications,social media,dutch,internal communications,advertising,copywriting,social media marketing",
                  "Summary": "Beschikbaar als project-/accountmanager, (marketing)communicatiemedewerker",
                  "Title": "hoofd support office"
                },
                {
                  "CompanyName": "triangular group",
                  "Continent": "asia",
                  "Country": "lebanon",
                  "Email": "bosleiman@hotmail.com",
                  "FirstName": "boutros",
                  "Industry": "architecture & planning",
                  "JobStartDate": "1970-10",
                  "JobTitle": "architect -town planing",
                  "LastName": "sleiman",
                  "LinkedinID": "155019788",
                  "LoginCount": "1",
                  "Title": "riyadh - saudi arabia"
                },
                {
                  "CompanyName": "triangular group academy",
                  "FirstName": "jur",
                  "JobCompanyName": "triangular group academy",
                  "JobTitle": "opleider",
                  "LastName": "de vries",
                  "Title": "opleider"
                },
                {
                  "CompanyName": "triangular group academy",
                  "Continent": "europe",
                  "Country": "netherlands",
                  "Email": "a.van.huijstee@hetnet.nl",
                  "FirstName": "anne-loes",
                  "Gender": "female",
                  "GeoLocation": "52.08,4.3",
                  "Industry": "professional training & coaching",
                  "JobCompanyName": "triangular group academy",
                  "JobStartDate": "2020-08",
                  "JobTitle": "docent and trainer nederlands",
                  "LastName": "van huijstee-de mildt",
                  "LinkedinID": "104050467",
                  "Locality": "the hague",
                  "Location": "zuid-holland",
                  "LoginCount": "129",
                  "Region": "south holland, netherlands",
                  "Skills": "coaching,executive coaching,interim management,training,personal development,management development,dutch,nlp,management,management consulting",
                  "Summary": "Sinds 1993 verzorgen wij trainingen en coaching voor de overheid, de gezondheidszorg en het bedrijfsleven. (Tolk/vertalers ontvangen voor een eendaagse training vijf PE-punten.)  Specialties:   Beleids-en adviesrapportages schrijven  Denken en schrijven vanuit de ontvanger E-mails en brieven professioneel schrijven Gedragsrapportages schrijven Individuele schrijfcoaching (Nieuwe) spelling Persberichten schrijven Strafrapportages schrijven Schriftelijk rapporteren  Communicatieve vaardigheden Klantgericht telefoneren Slecht-nieuwsgesprekken houden Timemanagement Vergadertechniek & notuleren  Infectieziekten Medische basiskennis Medische correspondentie Medisch handelen doktersassistente Medische terminologie",
                  "Title": "docent and trainer nederlands"
                },
                {
                  "CompanyName": "triangular group intelligence",
                  "CompanySize": "11-50",
                  "Continent": "europe",
                  "Country": "netherlands",
                  "FirstName": "daan",
                  "Gender": "male",
                  "GeoLocation": "52.09,5.11",
                  "Industry": "management consulting",
                  "JobCompanyName": "proximities risk consultancy",
                  "JobStartDate": "2014-03",
                  "JobTitle": "managing partner",
                  "LastName": "brink",
                  "LinkedinID": "366725562",
                  "Locality": "utrecht",
                  "Location": "utrecht",
                  "LoginCount": "1186",
                  "Region": "utrecht, netherlands",
                  "Skills": "leadership,command and control,operational risk management,operational planning,management,strategic planning,project planning,crisis management,incident management,military operations",
                  "Summary": "Managing Partner bij Proximities Risk Consultancy (PROXIMITIES) B.V.",
                  "Title": "managing partner"
                },
                {
                  "CompanyName": "triangular group intelligence",
                  "CompanySize": "11-50",
                  "Continent": "europe",
                  "Country": "netherlands",
                  "Email": "roderickferrari@hotmail.com",
                  "FirstName": "roderick",
                  "Gender": "male",
                  "GeoLocation": "52.08,4.3",
                  "Industry": "non-profit organization management",
                  "JobCompanyName": "lejeune association management",
                  "JobStartDate": "2017-02",
                  "JobTitle": "project manager | government relations",
                  "LastName": "ferrari",
                  "LinkedinID": "49325896",
                  "Locality": "the hague",
                  "Location": "zuid-holland",
                  "LoginCount": "889",
                  "Region": "zuid-holland, netherlands",
                  "Skills": "international relations,diplomacy,negotiating,government,history,politics,public affairs,crisis management,security studies,government relations",
                  "Summary": "Roderick is project manager bij Lejeune Association Management en werkzaam voor een drietal branche organisaties op het gebied van de circulaire economie en logistiek.  Roderick is een generalist, maar wil wel affiniteit met de inhoud hebben. Hij is gericht op het verbinden van mensen, projecten en organisaties. Hoe integraler een programma kan worden aangestuurd, hoe enthousiaster hij daarvan wordt. Zijn er verschillende belangen in het spel en moet er een gemeenschappelijk doel worden uitonderhandeld, dan komt Roderick het beste tot zijn recht.  Hoe? Door een werkzame vertaling te maken in het krachtenveld met de industrie/bedrijfsleven, belangenorganisaties, kennisinstellingen en de overheid. De juiste stakeholders met elkaar in contact brengen, kennis van specialisten optimaal benutten en tegelijkertijd de voortgang van het project en proces bewaken.   Specialties: Circulaire Economie | (Inter)nationale Betrekkingen | Public Affairs | Stakeholder Management| Coachend leidinggeven | Onderhandelen & Mediation | Project Management",
                  "Title": "senior analyst"
                },
                {
                  "CompanyName": "triangular group intelligence",
                  "CompanySize": "11-50",
                  "Continent": "europe",
                  "Country": "netherlands",
                  "FirstName": "willem",
                  "Gender": "male",
                  "Industry": "information services",
                  "JobCompanyName": "triangular group intelligence",
                  "JobStartDate": "2018-09",
                  "JobTitle": "analyst",
                  "LastName": "van boven",
                  "LinkedinID": "684754993",
                  "LoginCount": "63",
                  "Title": "analyst"
                },
                {
                  "CompanyName": "triangular group intelligence",
                  "CompanySize": "11-50",
                  "Continent": "europe",
                  "Country": "netherlands",
                  "FirstName": "cyntia",
                  "Gender": "female",
                  "GeoLocation": "51.56,4.8",
                  "Industry": "research",
                  "JobCompanyName": "triangular group intelligence",
                  "JobStartDate": "2018",
                  "JobTitle": "office manager",
                  "LastName": "van geel",
                  "LinkedinID": "415759201",
                  "Locality": "breda",
                  "Location": "noord-brabant",
                  "LoginCount": "38",
                  "Region": "noord-brabant, netherlands",
                  "Skills": "customer service",
                  "Summary": "Werkzaam in Kleding en mode, Horeca",
                  "Title": "office manager"
                },
                {
                  "CompanyName": "triangular group intelligence",
                  "CompanySize": "11-50",
                  "Continent": "europe",
                  "Country": "netherlands",
                  "FirstName": "marlin",
                  "GeoLocation": "51.83,5.86",
                  "Industry": "public safety",
                  "JobCompanyName": "triangular group academy",
                  "JobStartDate": "2019-09",
                  "JobTitle": "business development director",
                  "LastName": "van hal",
                  "LinkedinID": "598589800",
                  "Locality": "nijmegen",
                  "Location": "gelderland",
                  "LoginCount": "941",
                  "Region": "gelderland, netherlands",
                  "Skills": "sales,sports,projectmanagement,marketing,productontwikkeling,spreken in het openbaar,coaching,fitness,b2b,sociale media",
                  "Summary": "At Triangular Group Academy I assist companies with issues in the field of security and resilience. I am the linking pin between the public sector, private organizations and our specialists with extensive experience within the Dutch Special Forces Regiment, the Dutch Intelligence Services and law enforcement. We deliver rapid and intelligent solutions and unburden immediately through advice, training, capacity building and tailor-made security solutions.  Our mission statement: We enable you to be safe, secure and in control.  Voor Triangular Group Academy help ik bedrijven met vraagstukken op het gebied van veiligheid en weerbaarheid. Ik ben de schakel tussen de publieke sector, private organisaties en onze specialisten met ruime ervaring binnen de Nederlandse Special Forces, inlichtingendiensten en speciale Politie eenheden. Wij leveren snelle en intelligente oplossingen en ontzorgen direct doormiddel van advies, begeleiding en capacity building (opleiden & trainen). Onze missie: We enable you to be safe, secure and in control.",
                  "Title": "business development director"
                },
                {
                  "CompanyName": "triangular group intelligence",
                  "CompanySize": "11-50",
                  "Continent": "europe",
                  "Country": "netherlands",
                  "Email": "svanstaen@ohpen.com",
                  "FirstName": "sabrina",
                  "Gender": "female",
                  "GeoLocation": "52.35,4.91",
                  "Industry": "information technology and services",
                  "JobCompanyName": "ohpen",
                  "JobStartDate": "2018-02",
                  "JobTitle": "executive assistant",
                  "LastName": "vanstaen",
                  "LinkedinID": "262827015",
                  "Locality": "amsterdam",
                  "Location": "noord-holland",
                  "LoginCount": "280",
                  "Region": "north holland, netherlands",
                  "Skills": "flights,database administration,executive support,short sales,airlines,service management,sales management,microsoft word,microsoft office",
                  "Summary": "Management Assistant -Triangular-Group at Triangular-Group",
                  "Title": "management assistant"
                },
                {
                  "CompanyName": "triangular processing",
                  "Continent": "north america",
                  "Country": "united states",
                  "FirstName": "teresa",
                  "Gender": "female",
                  "GeoLocation": "41.54,-84.14",
                  "Industry": "individual & family services",
                  "JobCompanyName": "e&j demark",
                  "JobStartDate": "2020-09",
                  "JobTitle": "purchase manager",
                  "LastName": "haas",
                  "LinkedinID": "637488891",
                  "Locality": "wauseon",
                  "Location": "ohio",
                  "LoginCount": "268",
                  "Region": "ohio, united states",
                  "Skills": "customer service,management,public speaking,leadership,research,microsoft excel,social media,microsoft word,marketing,sales",
                  "Summary": "Master's Degree in Criminal Justice. Work with CCMEP, WIOA, TANF. Experience in grant writing, billing, and budgeting. Experience with customer service, communication, preparing legal documents, and sales. Educated in Human Trafficking, Criminal Justice Research Methods, Career Development, Criminal Justice Administration & Statistics. One on one work with career counseling for individuals as well as groups. Background working with individuals with IEP, 504, and creating IOP for clients. Also experience with networking business to business and marketing and sales. Currently looking for new employment in Criminal Justice, Human Services, Outreach, Fundraising, Marketing, or sales.",
                  "Title": "community employment director"
                },
                {
                  "CompanyName": "private practice",
                  "CompanyRegion": "california",
                  "CompanySize": "10001+",
                  "Continent": "north america",
                  "Country": "united states",
                  "Email": "triangular@hotmail.com",
                  "FirstName": "erika",
                  "Gender": "female",
                  "GeoLocation": "42.35,-71.06",
                  "Industry": "individual & family services",
                  "JobCompanyName": "children's services of roxbury, inc.",
                  "JobStartDate": "2019",
                  "JobTitle": "part-time supervisor -- senior intensive care coordinator",
                  "LastName": "shira",
                  "LinkedinID": "7981918",
                  "Locality": "boston",
                  "Location": "massachusetts",
                  "LoginCount": "394",
                  "Region": "massachusetts, united states",
                  "Skills": "mental health counseling,music,group therapy,adolescents,art therapy,mental health,developmental disabilities,nonprofits,early intervention,social media",
                  "Title": "music therapist and lmhc"
                }
              ],
              "InfoLeak": "During the first half of 2021, LinkedIn became a target for attackers who extracted data from hundreds of millions of profiles and then sold it online. This was not a leak and only publicly available information was collected. The 1.5 terabyte file contained 400 million records and 100 million unique emails, as well as the names, locations, gender and positions of users.",
              "NumOfResults": 13
            },
            "Nitro": {
              "Data": [
                {
                  "Email": "triangulargroup@gmail.com",
                  "RegDate": "2016-04-17 06:10:11.191",
                  "Status": "ACTIVE"
                }
              ],
              "InfoLeak": "In September 2020, the Nitro PDF service suffered a massive data breach. More than 70 million unique email addresses, names, bcrypt passwords, and converted file headers were exposed.",
              "NumOfResults": 1
            },
            "PasswordIndex": {
              "Data": [
                {
                  "Emails": "edelumba_2006@yahoo.com; inferedsuper@gmail.com; lsb84maik@yahoogroups.com",
                  "Password": "triangular123"
                },
                {
                  "Emails": "ibm-26th-batch@googlegroups.com",
                  "Password": "triangularplaza"
                }
              ],
              "InfoLeak": "This is an inverse index created in March 2023. It allows you to search for all emails associated with a particular password. This index contains 1.3 billion unique passwords and 3.2 billion emails for which they were used. Enter the received emails into the search to get more information.",
              "NumOfResults": 2
            },
            "RockYou 2024": {
              "Data": [
                {
                  "Password": "Triangular_group"
                },
                {
                  "Password": "Triangulargroup"
                },
                {
                  "Password": "triangulargroup"
                },
                {
                  "Password": "triangularmusicgroup"
                }
              ],
              "InfoLeak": "In the summer of 2024, a new version of the RockYou database was made publicly available; previously similar databases were published in 2021 and 2009. The database is simply a compilation of passwords that have ever been publicly available.  It contains about 10 billion records. There is no other data in the leak, but it can still be used to check the strength of passwords, as well as to decrypt hashes from leaks.",
              "NumOfResults": 4
            },
            "Telegram Chats": {
              "Data": [
                {
                  "ChannelID": "1197877397",
                  "FirstName": "triangular",
                  "ID": "1685275066",
                  "NickName": "triangularbkk",
                  "TelegramChannel": "cyclonegroup",
                  "Title": "🌀 Cyclone Group"
                },
                {
                  "ChannelID": "1016481664",
                  "FirstName": "three two one",
                  "ID": "414644848",
                  "NickName": "Triangularly",
                  "TelegramChannel": "musiboxgroup",
                  "Title": "🎧 My Music Group ®"
                }
              ],
              "InfoLeak": "In 2022, using parsing public Telegram channels, 63 million records about their participants were collected. These records contain their IDs, names, phone numbers and channels in which these users are members. There are also descriptions of these channels and information about whether the user has a fraud mark.",
              "NumOfResults": 2
            }
          },
          "NumOfDatabase": 9,
          "NumOfResults": 51,
          "search time": 0.2343156
        }
      }
    ],
    "Reddit COM": [
      {
        "json": {
          "data": [],
          "status": true,
          "message": "Successful",
          "meta": {
            "nextPage": null
          }
        }
      }
    ],
    "Facebook Scraper": [
      {
        "json": {
          "results": [],
          "cursor": null
        }
      }
    ],
    "Facebook Scraper Elon Musk": [
      {
        "json": {
          "results": [
            {
              "type": "page",
              "profile_url": "https://www.facebook.com/people/Elon-musk/61575239386158/",
              "url": "https://www.facebook.com/people/Elon-musk/61575239386158/",
              "image": {
                "uri": "https://scontent-gru1-1.xx.fbcdn.net/v/t39.30808-1/493312618_122106771518841312_1849869971155344223_n.png?stp=dst-png_s120x120&_nc_cat=101&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=7FPrKIQ2zbEQ7kNvwHJS0xG&_nc_oc=AdlQpGM8ydW4TnKJ_HMCzytWz4SlveyXW1UtIUzUEu5kx1Bz33nThofzvdwpB-FX8TQ&_nc_zt=24&_nc_ht=scontent-gru1-1.xx&_nc_gid=xBbGdtANa0GMRyba0U5B8w&oh=00_AfOx4KpeapUr5jLUzwaXWImVNQZcqTYjSjrDtEMr78OytQ&oe=6848B568",
                "width": 120,
                "height": 120,
                "scale": 2
              },
              "name": "Elon musk",
              "facebook_id": "61575239386158",
              "is_verified": false
            },
            {
              "type": "page",
              "profile_url": "https://www.facebook.com/people/Elon-musk/61576031832254/",
              "url": "https://www.facebook.com/people/Elon-musk/61576031832254/",
              "image": {
                "uri": "https://scontent-gru1-1.xx.fbcdn.net/v/t39.30808-1/495110310_122103761066867727_841376829480861231_n.png?stp=dst-png_s120x120&_nc_cat=104&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=ggPQsEZWzBkQ7kNvwG11Yzn&_nc_oc=AdmDo5yQV1dkUh_lZRUyYpgFPHSh5SbVTtKPAySed3h42MetmfoKwlfLvo9eVIGUpFQ&_nc_zt=24&_nc_ht=scontent-gru1-1.xx&_nc_gid=xBbGdtANa0GMRyba0U5B8w&oh=00_AfMTls27F-0uNl4p1RItPqnJa-6q8uozYsUIr76Hys5Ldg&oe=6848AC8A",
                "width": 120,
                "height": 120,
                "scale": 2
              },
              "name": "Elon musk",
              "facebook_id": "61576031832254",
              "is_verified": false
            },
            {
              "type": "page",
              "profile_url": "https://www.facebook.com/people/Elon-Musk/61576569631900/",
              "url": "https://www.facebook.com/people/Elon-Musk/61576569631900/",
              "image": {
                "uri": "https://scontent-gru2-2.xx.fbcdn.net/v/t39.30808-1/499955234_122098644446885654_6504589775688723042_n.png?stp=dst-png_s120x120&_nc_cat=102&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=jYxCc9ySqO4Q7kNvwH_Lc1E&_nc_oc=Adnw0CM01zvk_Rqey3wUWG1atGUfdQbWdztX-yyU3yz29Ppk0UfHT9AIikEpCHBtXSs&_nc_zt=24&_nc_ht=scontent-gru2-2.xx&_nc_gid=xBbGdtANa0GMRyba0U5B8w&oh=00_AfOpzeRV7dTUzKDfcNxkUQFHDS4avbaEa7uXhtHlTY1DyQ&oe=68488DEF",
                "width": 120,
                "height": 120,
                "scale": 2
              },
              "name": "Elon Musk",
              "facebook_id": "61576569631900",
              "is_verified": false
            },
            {
              "type": "page",
              "profile_url": "https://www.facebook.com/people/Elon-musk/61573451685379/",
              "url": "https://www.facebook.com/people/Elon-musk/61573451685379/",
              "image": {
                "uri": "https://scontent-gru2-1.xx.fbcdn.net/v/t39.30808-1/481126224_122106520442781722_4532092397152209214_n.png?stp=dst-png_s120x120&_nc_cat=109&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=TsoucFJWXTkQ7kNvwE-jsM-&_nc_oc=Adnchsa2GQzeFZMCvfXIUEHzKRp6lckzvaD27uL4IPbUB_r3y2j8ZQOC6qN8uEkPBt8&_nc_zt=24&_nc_ht=scontent-gru2-1.xx&_nc_gid=xBbGdtANa0GMRyba0U5B8w&oh=00_AfOlfBdIovtpsuE38xB_JuTjkgS6ViSkev8Yzu2ZEOWSwg&oe=68488870",
                "width": 120,
                "height": 120,
                "scale": 2
              },
              "name": "Elon musk",
              "facebook_id": "61573451685379",
              "is_verified": false
            },
            {
              "type": "page",
              "profile_url": "https://www.facebook.com/people/Elon-Musk/61575080788464/",
              "url": "https://www.facebook.com/people/Elon-Musk/61575080788464/",
              "image": {
                "uri": "https://scontent-gru1-1.xx.fbcdn.net/v/t39.30808-1/489885279_122096509238836026_4014407591107221804_n.png?stp=dst-png_s120x120&_nc_cat=104&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=hI5GO9dZBS0Q7kNvwFU_o71&_nc_oc=AdmCRLPp8p6Ab5RhG51X30KxNgPfF5slwd6Kct6bQKZGF0tmlaZbsYjmG0Sc5fP6Inw&_nc_zt=24&_nc_ht=scontent-gru1-1.xx&_nc_gid=xBbGdtANa0GMRyba0U5B8w&oh=00_AfM-cCPfMO-WHDhZAbXFjaWK-CLzAfCelb5J8RsntvzHjA&oe=68489382",
                "width": 120,
                "height": 120,
                "scale": 2
              },
              "name": "Elon Musk",
              "facebook_id": "61575080788464",
              "is_verified": false
            },
            {
              "type": "page",
              "profile_url": "https://www.facebook.com/people/Elon-Musk/61574142878619/",
              "url": "https://www.facebook.com/people/Elon-Musk/61574142878619/",
              "image": {
                "uri": "https://scontent-gru2-1.xx.fbcdn.net/v/t39.30808-1/485312977_122105949686804762_7474083008505523080_n.png?stp=dst-png_s120x120&_nc_cat=109&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=uYL23VmAS_QQ7kNvwGFA_cr&_nc_oc=AdlCQkOrCIt97mN5aXItdTh-7jmg_xEK4VWDTya3F-sHuoFln4YDJY4zvXuY7G3GDII&_nc_zt=24&_nc_ht=scontent-gru2-1.xx&_nc_gid=xBbGdtANa0GMRyba0U5B8w&oh=00_AfM2f9aAZJKULcAEVzzRPrER9hn78wV1FphREvUM9ltGDA&oe=68488610",
                "width": 120,
                "height": 120,
                "scale": 2
              },
              "name": "Elon Musk",
              "facebook_id": "61574142878619",
              "is_verified": false
            },
            {
              "type": "page",
              "profile_url": "https://www.facebook.com/people/Elon-Musk/61575867339777/",
              "url": "https://www.facebook.com/people/Elon-Musk/61575867339777/",
              "image": {
                "uri": "https://scontent-gru1-2.xx.fbcdn.net/v/t39.30808-1/495440811_122102450024862244_1480167722044319906_n.png?stp=dst-png_s120x120&_nc_cat=100&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=dMWVfk2x9kgQ7kNvwGg9zcg&_nc_oc=Adm0DovPujJ1twvKqqqzKbr5XUgF7YpEFFHeEt3yCSZ56-IO7crJvMWfC_XKlLEEnPA&_nc_zt=24&_nc_ht=scontent-gru1-2.xx&_nc_gid=xBbGdtANa0GMRyba0U5B8w&oh=00_AfPBs59XTtui14OATEazcroFZLn2Fj9sA1h5yLkeLm7jIg&oe=68488F4E",
                "width": 120,
                "height": 120,
                "scale": 2
              },
              "name": "Elon Musk",
              "facebook_id": "61575867339777",
              "is_verified": false
            }
          ],
          "cursor": "AboUXwWrdDUzT3enKJdA_SzxfaRcO4EC0kXKDDIZG-iY3XFfCXVwBQkc5zFGFv4jgu_ywLMfrRDjRtWZcx4W66Xt9cqAYRuvoEmEJuf6nSfIDygjIuf3zRc66uGw4r-o86I2yWaBSrPORaPjuRKYM8JaeAuWYrpGJ3Za_5-BlDutnoQBDY-xjDBb84Pnm6kck2B8C9HUANk9E8-dYnP0l8nQoOPhItzuMVVLCkQpIqJ7TxG9XUb8Pxqf_7eiSuKwYhHOpWrbrUbIT8u8Lj1JhXaGPJyEvEJ-CxQh-N3HiW2eH1WiGQN88ARete1kBDSgX90kNWOxfLhqjzwNlQ2WKm8VkGpXCjV4teyPueCAjDp2y9rXDVv0nMxtcOsjzHn7HHPLfB06X0qY6OCe1xbzCiFrwEfgQWN3UMIA4ZP4O8EWwd_fHTTZ1XqtbguWeV78Vo25r1BqFIL7w1P4p-woTXo0w6gVYwsdSB7HZaPMBbXT9Q5g0n2lfh1aYf4uNsSlEZSC7aWILhWV6puzSbmT7ZxchsxIB5DepCfsbFnDBh8zn9g4ZOT3EIfimJBrKsE6FAUQc3rVP7whSmOAKb25lS8hXgRARs2vhWi6OUGeKv3ZBZ3c2wQ-37zfR1bWFFkiGf7p9ErK7PVKGlDNhY0JK1IPwyhk2oLu6ZUlf0WUAqLZ-cbS_9-f4D-D97wj7NTgwOIB0pi9Y9ap1oin8K72L7crt5Z61xq0hJO5CYMcWX-8uUtGc8UK9cZk5L9mWIXyWsKUwboF3zWA_zeGX_rI_ida44SuG9lYSjFMz_DDEPQv1p60pueNpE0VLBFvxnTm3HrL9V5D-G1RuVlC91TKTLU831uzq4xHpxJ6_dGG3H0ToiXHYzFtbjW7zh4fs87J1va8IVwFLYoGflMRqG4LkWcoXyXnqLQOoa2tN0RcGpMmBqDSekvB_HXBLSdltpji-q2q_IHeL4Rs8oHsnXye3eCRWV5swlH9ggL7z_eeCmNWnL_fD13U53Y189H7V9cGSP4atX2bPvGVKp5KY5kHRKUvNk_VzgkP_GW0_SBwjXND8q4jQVemX5HGa_LO9VRlH5aDaFNphWeNfIIXGkCD_YAoOgGKXpQdIzcKhqf4LozP-JZbDvZIjE_fN082ZyjUdZtfRQmc88kacLnR-N7EWA5iDlrBcDPCHzacf9csMNAi7-rRF7nHhtP5ROl9MuI60xB_ianUXcAGtx5ItbFeGhyFmWJpsUn5AJ0kaLWBAQDMHBk1PJeH2jRx3RxHnJxhfBbBC53aCI7oT-Te_aHKXsWZz3v4DWtfYVAAoaykHEMqxh861szRJfhPwfw8N_brGphOy0DAqoDse6hC_jYr6ozWI6y2Gz--1poGwiT33eptyO-oE0K_tFSLfukA6ljjroeoaq9KUFLJz4rwbEzaJ0eCbcerXzDMiG8Ok8k5NV9sZbu26raN4qvJY-yfeCLURw1LCoJsaimfGq-kepeudqC3jNcXkUr2Akczj9RGbWxzfvXcEDsK_JNG74-aLEX_DETRGL27oZjnTUVXnFvDlPLpOlCotoAcTENr7lrG370GQQ"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Validator Pro Company": {
      "main": [
        []
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "encodeURI_ email_company",
            "type": "main",
            "index": 0
          },
          {
            "node": "Getting a company domain name",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "encodeURI_person",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter User info",
            "type": "main",
            "index": 0
          },
          {
            "node": "OSINT | Phone, eMail & Names - Search Everything !1  Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encodeURI_ email_company": {
      "main": [
        [
          {
            "node": "Email Validator Pro Company",
            "type": "main",
            "index": 0
          },
          {
            "node": " Email Verifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting a company domain name": {
      "main": [
        [
          {
            "node": "Email Social Scraper Turbo (Company)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Whois API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Person",
            "type": "main",
            "index": 0
          },
          {
            "node": "B2B Company Data Enrichment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Website Contacts Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Social Scraper Turbo (Company)": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whois API": {
      "main": [
        []
      ]
    },
    "Person": {
      "main": [
        [
          {
            "node": "firstName_lastName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "firstName_lastName": {
      "main": [
        [
          {
            "node": "Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Real-Time LinkedIn Scraper API (Person) Accurate LinkedIn profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Real-Time LinkedIn Scraper API (Person) Accurate LinkedIn profiles": {
      "main": [
        [
          {
            "node": "LinkedIn Full profile information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "LinkedIn All company details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn All company details": {
      "main": [
        [
          {
            "node": "LinkedIn Number of employees in the company (possible filter by location)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encodeURI_person": {
      "main": [
        [
          {
            "node": "Google Search Person",
            "type": "main",
            "index": 0
          },
          {
            "node": "OSINT | Phone, eMail & Names - Search Everything !",
            "type": "main",
            "index": 0
          },
          {
            "node": "Social Links Search Person1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reddit COM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Scraper",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Scraper Elon Musk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Full profile information": {
      "main": [
        [
          {
            "node": "LinkedIn Posts Person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Posts Person": {
      "main": [
        [
          {
            "node": "encodeURI_personURL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encodeURI_personURL": {
      "main": [
        [
          {
            "node": " LinkedIn Get user Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " LinkedIn Get user Article": {
      "main": [
        [
          {
            "node": "LinkedIn Get Profile position with Skils",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter User info": {
      "main": [
        [
          {
            "node": "Twitter User info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter User info1": {
      "main": [
        [
          {
            "node": "Twitter Followers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter Followers": {
      "main": [
        [
          {
            "node": "Twitter affiliates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter affiliates": {
      "main": [
        [
          {
            "node": "Twitter User replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "afdd9784-837a-4b5d-b045-03f788d54712",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cae30345f09aca798d994249bf6504629486d3825bd9a53f2d97f1c0aecdd68f"
  },
  "id": "WgfAqKO0aL5W9qQF",
  "tags": []
}